@import "scss-styles/fonts.scss";
@import "scss-styles/topmenu.scss";
@import "scss-styles/swiper.scss";

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-top: 10px;
    color:black;
}

/*
 .container {
    padding-right: 10px;
    padding-left: 10px;
    }
*/
.block-menu{


    .bread-crumbs{
        display:block;
        font-size:17px;
        margin-top: 35px;

        max-height:50px;
        min-height:50px;

       a, a:link, a:visited, a:hover {
        display:inline-block;
        padding: 15px 0;
        color:#5965c7;
        letter-spacing:1.25px;
        text-decoration:none;

          &.active{
            border-bottom: 3px solid black;
        }
    }    
    }
}

.head-text{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: black;
    letter-spacing:1.25px;
    margin-top: 20px;
}