@import "scss-styles/fonts.scss";
@import "scss-styles/topmenu.scss";
@import "scss-styles/main-page.scss";
@import "scss-styles/swiper.scss";
@import "scss-styles/product.scss";
@import "scss-styles/filters.scss";
@import "scss-styles/order.scss";

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-top: 10px;
    color:black;

    a, a:link, a:visited, a:hover {
        text-decoration:none;
    }
}

.head-text{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: black;
    letter-spacing:1.25px;
    margin-top: 20px;
}

.btn-edit{
    position: absolute;
    margin: 20px;
    background: red;
    color: white;
    padding: 2px 16px;

}