@font-face {
  font-family: 'Ubuntu Condensed', sans-serif;
  src: url(/Content/fonts/UbuntuCondensed/UbuntuCondensed-Regular.ttf); }

.top-menu-container {
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #0d0d0d;
  font-weight: 300; }
  .top-menu-container .logo {
    display: inline-block; }
    .top-menu-container .logo a {
      margin: 0; }
      .top-menu-container .logo a img {
        height: auto; }
  .top-menu-container .top-menu-btn {
    display: inline-block;
    cursor: pointer; }
    .top-menu-container .top-menu-btn span {
      font-size: 34px;
      padding: 6px 0px; }
  .top-menu-container .top-menu-btn:active {
    opacity: 0.6; }
  .top-menu-container .top-menu-body {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.88;
    letter-spacing: 0.4px;
    text-align: center;
    color: #0d0d0d; }
    .top-menu-container .top-menu-body div {
      display: inline-block; }
    .top-menu-container .top-menu-body a, .top-menu-container .top-menu-body a:link, .top-menu-container .top-menu-body a:visited, .top-menu-container .top-menu-body a:hover {
      display: inline-block;
      color: #0d0d0d;
      text-decoration: none; }
      .top-menu-container .top-menu-body a.active, .top-menu-container .top-menu-body a:link.active, .top-menu-container .top-menu-body a:visited.active, .top-menu-container .top-menu-body a:hover.active {
        border-bottom: 3px solid black; }
  .top-menu-container .cart {
    float: right;
    display: inline-block;
    cursor: pointer; }
    .top-menu-container .cart .count {
      text-align: center;
      color: #fff;
      background: #000;
      border-radius: 100%;
      display: inline-block;
      width: 17px;
      height: 17px;
      font-size: 11px;
      margin-left: 10px; }
    .top-menu-container .cart .text img {
      width: 20px;
      height: 21px;
      margin-right: 10px; }

/*@media (min-width: 1200px) {
    .top-menu-container {
        padding-right: 35px;
        padding-left: 35px;
        padding-bottom: 25px;
        margin-bottom: 10px;

        .top-menu-body {
            font-size: 16px;
        }

        a, a:link, a:visited, a:hover {
            padding: 20px 20px 20px 20px;
        }

        .logo {
            a {
                img {
                    height: auto;
                    width: 200px;
                }
            }
        }

        .cart {
            padding: 25px 25px 20px 25px;
        }
    }
}*/
@media (min-width: 992px) {
  .logo a img {
    height: auto;
    width: 175px; }
  .top-menu-container {
    padding: 0 24px;
    margin-bottom: 20px; }
    .top-menu-container .top-menu-body {
      font-size: 14px; }
    .top-menu-container a, .top-menu-container a:link, .top-menu-container a:visited, .top-menu-container a:hover {
      padding: 15px 15px 45px 15px; }
    .top-menu-container .cart {
      margin-left: 10px;
      padding: 20px 0 20px 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .logo a img {
    height: auto;
    width: 125px; }
  .top-menu-container {
    padding: 0 30px;
    margin-bottom: 20px; }
    .top-menu-container .top-menu-body {
      font-size: 13px; }
    .top-menu-container a, .top-menu-container a:link, .top-menu-container a:visited, .top-menu-container a:hover {
      padding: 15px 11px 35px 11px; }
    .top-menu-container .cart {
      padding: 10px; }
      .top-menu-container .cart .text img {
        width: 20px;
        height: 21px;
        margin-right: 0; }
      .top-menu-container .cart .count {
        position: absolute;
        margin-left: -10px;
        margin-top: -3px; } }

@media (max-width: 767px) {
  .logo {
    vertical-align: top; }
    .logo a img {
      width: 135px; }
  body {
    padding-top: 15px !important; }
  .top-menu-container {
    min-height: 65px;
    max-height: 65px;
    text-align: center;
    padding: 0 15px; }
    .top-menu-container .cart {
      padding: 10px; }
      .top-menu-container .cart .text img {
        width: 20px;
        height: 21px;
        margin-right: 0; }
      .top-menu-container .cart .count {
        position: absolute;
        margin-left: -10px;
        margin-top: -3px; }
  .top-menu-body-mobile {
    display: none;
    height: 0;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #333333; }
    .top-menu-body-mobile.toggled {
      display: block;
      height: auto; }
    .top-menu-body-mobile div {
      display: block; }
    .top-menu-body-mobile a, .top-menu-body-mobile a:link, .top-menu-body-mobile a:visited, .top-menu-body-mobile a:hover {
      display: block;
      padding: 10px;
      color: #333333;
      text-decoration: none; }
      .top-menu-body-mobile a.active, .top-menu-body-mobile a:link.active, .top-menu-body-mobile a:visited.active, .top-menu-body-mobile a:hover.active {
        border-bottom: 3px solid black; } }

.info-category {
  font-family: 'Open Sans'; }
  .info-category .item {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    display: table; }
    .info-category .item .text-block {
      display: table-cell;
      vertical-align: top; }
    .info-category .item .img-block {
      display: table-cell;
      vertical-align: top; }
      .info-category .item .img-block img {
        width: 100%; }
    .info-category .item .title {
      overflow: hidden;
      text-align: left;
      color: #000000;
      text-transform: uppercase; }
      .info-category .item .title a, .info-category .item .title a:visited {
        color: black;
        text-decoration: none; }
      .info-category .item .title a:hover {
        color: black;
        text-decoration: none; }
    .info-category .item .name {
      text-align: left;
      color: #22b2da;
      overflow: hidden; }
      .info-category .item .name span {
        vertical-align: text-top; }
    .info-category .item .description {
      text-align: left;
      overflow: hidden; }
    .info-category .item .button {
      background-color: #22b2da;
      border-radius: 8px; }
      .info-category .item .button a {
        display: block;
        height: 100%;
        text-align: center;
        color: #ffffff; }

.title-main-page {
  position: relative;
  font-family: 'Open Sans';
  line-height: 1.15;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333;
  background: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1; }

.hr-title {
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  right: 5%;
  left: 5%;
  z-index: 0; }

@media (min-width: 992px) {
  .title-main-page {
    margin-top: 84px;
    margin-bottom: 60px;
    font-size: 26px; }
  .hr-title {
    margin-top: -73px; }
  .info-category {
    padding-left: 100px;
    padding-right: 100px; }
    .info-category .item .text-block {
      padding: 45px 5%;
      width: 55%; }
    .info-category .item .img-block {
      width: 40%; }
    .info-category .item .title {
      max-height: 29px;
      min-height: 29px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.36;
      letter-spacing: 1.1px; }
    .info-category .item .name {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.88;
      letter-spacing: 0.4px;
      margin: 24px 0; }
      .info-category .item .name span {
        padding-left: 10px; }
    .info-category .item .description {
      margin-bottom: 60px;
      max-height: 87px;
      min-height: 87px;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.77;
      letter-spacing: 0.3px;
      overflow: hidden; }
    .info-category .item .button {
      height: 50px; }
      .info-category .item .button a {
        display: block;
        height: 100%;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        letter-spacing: 0.8px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .title-main-page {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px; }
  .hr-title {
    margin-top: -41px; }
  .info-category {
    padding-left: 30px;
    padding-right: 30px; }
    .info-category .item .text-block {
      padding: 30px 5%;
      width: 55%; }
    .info-category .item .img-block {
      width: 40%; }
    .info-category .item .title {
      max-height: 16px;
      min-height: 16px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: 0.7px; }
    .info-category .item .name {
      margin: 13px 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.3px; }
      .info-category .item .name span {
        padding-left: 10px; }
    .info-category .item .description {
      margin-bottom: 30px;
      max-height: 77px;
      min-height: 77px;
      font-size: 10px;
      font-weight: 300;
      line-height: 1.63;
      letter-spacing: 0.5px;
      overflow: hidden; }
    .info-category .item .button {
      height: 35px; }
      .info-category .item .button a {
        display: block;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.6px; } }

@media (max-width: 767px) {
  .title-main-page {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px; }
  .hr-title {
    margin-top: -41px; }
  .info-category {
    padding-left: 0;
    padding-right: 0; }
    .info-category .item {
      margin-bottom: 20px; }
      .info-category .item .text-block {
        padding: 30px 5%;
        width: 55%; }
      .info-category .item .img-block {
        width: 40%; }
      .info-category .item .title {
        max-height: 16px;
        min-height: 16px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 0.7px; }
      .info-category .item .name {
        margin: 13px 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.3px; }
        .info-category .item .name span {
          padding-left: 10px; }
      .info-category .item .description {
        margin-bottom: 30px;
        max-height: 77px;
        min-height: 77px;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: 0.5px;
        overflow: hidden; }
      .info-category .item .button {
        height: 35px; }
        .info-category .item .button a {
          display: block;
          height: 100%;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.6px; } }

footer {
  border-top: 1px solid #0d0d0d; }
  footer .row {
    margin: 0;
    padding: 0; }
  footer [class*='col-'] {
    margin: 0;
    padding: 0; }
  footer .line1 {
    font-weight: 300;
    color: #0d0d0d;
    overflow: hidden; }
    footer .line1 .logo {
      margin: 18px 30px 18px 0;
      vertical-align: top; }
      footer .line1 .logo img {
        width: 100%; }
    footer .line1 .footer-addres {
      font-weight: 300;
      line-height: 1.76;
      letter-spacing: 0.3px;
      text-align: center;
      color: #0d0d0d;
      float: right;
      font-size: 18px;
      text-align: right;
      padding-top: 5px; }
      footer .line1 .footer-addres a {
        padding: 6px; }
        footer .line1 .footer-addres a img {
          width: 20px;
          height: 20px; }
      footer .line1 .footer-addres div {
        display: block; }
  footer .line2 {
    background-color: #0d0d0d;
    font-weight: 300;
    text-align: left;
    color: #666666; }
    footer .line2 div {
      display: inline-block; }

@media (min-width: 768px) {
  footer {
    border-top: 1px solid #0d0d0d;
    font-size: 14px; }
    footer .line1 {
      min-height: 107px;
      max-height: 107px;
      padding: 0 30px;
      font-size: 12px;
      overflow: hidden; }
      footer .line1 div {
        display: inline-block; }
      footer .line1 .footer-menu {
        width: 310px;
        min-height: 107px;
        max-height: 107px;
        overflow: hidden; }
        footer .line1 .footer-menu a {
          display: block;
          padding: 9px 20px;
          min-width: 120px; }
      footer .line1 .footer-addres {
        font-size: 18px; }
    footer .line2 {
      padding: 0 30px;
      min-height: 40px;
      max-height: 40px;
      line-height: 2.6;
      letter-spacing: 0.5px; } }

@media (max-width: 767px) {
  footer {
    border-top: 1px solid #0d0d0d;
    font-size: 7px; }
    footer .line1 {
      min-height: 107px;
      max-height: 107px;
      padding: 0 15px;
      line-height: 1.88;
      letter-spacing: 0.6px;
      color: #0d0d0d;
      font-size: 10px; }
      footer .line1 .footer-addres {
        font-size: 18px;
        text-align: center;
        width: 100%; }
        footer .line1 .footer-addres img {
          height: 20px;
          width: 20px; }
    footer .line2 {
      padding: 0 15px;
      min-height: 40px;
      max-height: 40px;
      line-height: 5.6;
      letter-spacing: 0.5px; } }

.main-page-swipe {
  max-height: 400px; }
  .main-page-swipe .swiper-slide img {
    width: 100%;
    display: block; }

.main-page-favorite-swipe {
  margin-bottom: 20px; }
  .main-page-favorite-swipe .swiper-slide {
    border-right: 1px solid #d6d6d6; }

.short-product {
  text-align: center; }
  .short-product .line1 img {
    width: 70%; }
  .short-product .line2 {
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
    vertical-align: middle; }
  .short-product .line3 {
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
    vertical-align: middle; }
  .short-product .line4 {
    margin-top: 10px; }
  .short-product .line5 {
    margin-top: 10px; }
  .short-product .txt {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #808080;
    vertical-align: middle; }
  .short-product .val {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #333333;
    vertical-align: middle; }
  .short-product .price {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    vertical-align: middle; }
  .short-product.list-item {
    margin-top: 20px;
    margin-bottom: 20px; }
    .short-product.list-item .line1 {
      border-radius: 5px;
      border: solid 1px #ededed; }
    .short-product.list-item .line2 {
      position: absolute;
      top: 30px;
      left: 25px;
      background: rgba(255, 255, 255, 0.76); }
    .short-product.list-item .line3 {
      margin-top: 10px; }

.filters .filter-name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  text-align: left; }

.filters ul {
  padding-left: 0; }
  .filters ul li {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #808080;
    text-align: left; }
    .filters ul li .txt {
      padding-left: 20px; }
    .filters ul li input {
      display: inline-block;
      height: 17px;
      width: 17px;
      padding: 0;
      margin: 0;
      vertical-align: middle; }
  .filters ul li.active {
    font-weight: 600;
    color: black; }

.selected-filters {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0d0d0d;
  text-align: left; }
  .selected-filters span {
    background-color: #dbdbdb;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer; }
  .selected-filters span:last-of-type {
    color: #808080;
    background: none;
    padding: 8px 15px 8px 5px; }
  .selected-filters .filter-clear {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important; }

.radio-btns div {
  color: gray;
  cursor: pointer; }
  .radio-btns div .r1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 100%; }
    .radio-btns div .r1 .r2 {
      display: inline-block;
      border-radius: 100%;
      margin: 3px;
      width: 12px;
      height: 12px; }
  .radio-btns div.selected {
    color: black; }
    .radio-btns div.selected .r1 {
      border-color: black; }
      .radio-btns div.selected .r1 .r2 {
        background: black; }

a, a:visited, a:hover {
  color: black;
  text-decoration: none; }

input.error, span.error, div.error {
  border: 1px solid #fe8080;
  background-color: rgba(255, 109, 109, 0.05); }

.button-default {
  border-radius: 8px;
  border: solid 1px #999999;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #999 !important;
  padding: 15px 30px;
  display: inline-block; }

.button-info {
  width: 100%;
  border-radius: 8px;
  border: solid 1px #22b2da;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #22b2da !important;
  padding: 15px 30px;
  display: inline-block; }

.btn-info-block, .btn-info-block:hover {
  background: #3c3b3b;
  cursor: pointer;
  padding: 10px 40px;
  color: #fff;
  border-radius: 0;
  font-size: 17px; }

.title-filter {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #0d0d0d;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px; }

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  color: black; }
  body a, body a:link, body a:visited, body a:hover {
    text-decoration: none; }
  body .container {
    width: 100% !important; }

.head-text {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: black;
  letter-spacing: 1.25px;
  margin-top: 20px; }

.btn-edit {
  position: absolute;
  margin: 20px;
  background: red;
  color: white;
  padding: 2px 16px; }

