@font-face {
  font-family: 'Ubuntu Condensed', sans-serif;
  src: url(/Content/fonts/UbuntuCondensed/UbuntuCondensed-Regular.ttf); }

.top-menu-container {
  white-space: nowrap;
  overflow: hidden; }
  .top-menu-container .logo {
    display: inline-block; }
    .top-menu-container .logo a {
      padding: 5px 0 0 0;
      margin: 0; }
      .top-menu-container .logo a img {
        height: auto;
        width: 178px; }
  .top-menu-container .top-menu-btn {
    display: inline-block;
    cursor: pointer; }
    .top-menu-container .top-menu-btn span {
      font-size: 34px;
      padding: 6px 0px; }
  .top-menu-container .top-menu-body {
    display: inline-block;
    border: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    max-height: 61px;
    min-height: 61px;
    border-bottom: 1px solid #333333;
    float: right; }
    .top-menu-container .top-menu-body div {
      display: inline-block; }
    .top-menu-container .top-menu-body a, .top-menu-container .top-menu-body a:link, .top-menu-container .top-menu-body a:visited, .top-menu-container .top-menu-body a:hover {
      display: inline-block;
      padding: 15px 10px 20px 10px;
      color: #333333;
      text-decoration: none; }
      .top-menu-container .top-menu-body a.active, .top-menu-container .top-menu-body a:link.active, .top-menu-container .top-menu-body a:visited.active, .top-menu-container .top-menu-body a:hover.active {
        border-bottom: 3px solid black; }
  .top-menu-container .cart {
    float: right;
    display: inline-block;
    background: #2175c2;
    cursor: pointer;
    padding: 10px 15px;
    margin: 4px 0 0 10px; }
    .top-menu-container .cart .count {
      text-align: center;
      position: absolute;
      color: #fff;
      padding-top: 3px;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 100%;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -5px;
      margin-left: -9px;
      font-size: 10px; }
    .top-menu-container .cart .text {
      color: #fff;
      font-size: 15px; }
      .top-menu-container .cart .text img {
        width: 24px;
        height: 24px;
        margin-right: 4px; }

@media (max-width: 767px) {
  .top-menu-body-mobile {
    display: none;
    height: 0;
    width: 100%;
    border-top: 1px solid #333333;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #333333; }
    .top-menu-body-mobile.toggled {
      display: block;
      height: auto; }
    .top-menu-body-mobile div {
      display: block; }
    .top-menu-body-mobile a, .top-menu-body-mobile a:link, .top-menu-body-mobile a:visited, .top-menu-body-mobile a:hover {
      display: inline-block;
      padding: 12px 11px;
      color: #333333;
      text-decoration: none; }
      .top-menu-body-mobile a.active, .top-menu-body-mobile a:link.active, .top-menu-body-mobile a:visited.active, .top-menu-body-mobile a:hover.active {
        border-bottom: 3px solid black; } }

.info-category .item {
  border: 1px solid gray;
  border-radius: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 15px; }
  .info-category .item .row {
    margin-right: 0;
    margin-left: 0; }
  .info-category .item .left-block {
    display: table-cell;
    width: 66%;
    vertical-align: top; }
  .info-category .item .right-block {
    display: table-cell;
    width: 33%;
    vertical-align: middle; }
    .info-category .item .right-block img {
      float: right;
      width: 100%; }
  .info-category .item .title {
    max-height: 25px;
    min-height: 25px;
    font-size: 22px;
    margin: 10px;
    text-align: right;
    overflow: hidden; }
    .info-category .item .title a, .info-category .item .title a:visited {
      color: black;
      text-decoration: none; }
    .info-category .item .title a:hover {
      color: black;
      text-decoration: underline; }
  .info-category .item .name {
    color: #337ab7;
    text-align: right;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 10px; }
  .info-category .item .description {
    text-align: right;
    font-size: 14px;
    margin: 0 10px 20px 10px;
    color: #5f5d5d; }
  .info-category .item .button {
    width: 60%;
    position: absolute;
    bottom: 10px; }

.btn-info-block, .btn-info-block:hover {
  background: #3c3b3b;
  cursor: pointer;
  padding: 10px 40px;
  color: #fff;
  border-radius: 0;
  font-size: 17px; }

.title-product-swiper {
  text-align: center;
  font-size: 24px;
  padding: 15px; }

.title-main-page {
  text-align: center;
  font-size: 26px;
  padding: 15px 0 0 5px; }

.main-page-swipe {
  min-height: 350px;
  max-height: 350px;
  height: 350px;
  overflow: hidden;
  margin-top: 15px; }

.main-page-favorite-swipe {
  min-height: 390px;
  max-height: 390px;
  height: 390px;
  overflow: hidden; }

.short-product {
  padding-top: 20px; }
  .short-product .line1 {
    text-align: center; }
    .short-product .line1 img {
      width: 100%;
      padding: 0 25px; }
  .short-product.carusel {
    max-height: 390px;
    min-height: 390px;
    padding-top: 0; }
    .short-product.carusel .line1 {
      text-align: center; }
      .short-product.carusel .line1 img {
        max-height: 280px;
        min-height: 280px;
        width: auto; }
  .short-product .line2 {
    min-height: 35px;
    max-height: 35px;
    overflow: hidden;
    margin: 10px; }
    .short-product .line2 .art {
      color: gray;
      font-size: 15px;
      float: left;
      padding-top: 10px; }
    .short-product .line2 .price {
      color: black;
      font-size: 25px;
      float: right; }
  .short-product .line3 {
    text-align: center; }

.filters li {
  font-weight: normal;
  color: cadetblue;
  cursor: pointer; }

.filters li.active {
  font-weight: 600;
  color: green; }

.radio-btns div {
  color: gray;
  cursor: pointer; }
  .radio-btns div .r1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 100%; }
    .radio-btns div .r1 .r2 {
      display: inline-block;
      border-radius: 100%;
      margin: 3px;
      width: 12px;
      height: 12px; }
  .radio-btns div.selected {
    color: black; }
    .radio-btns div.selected .r1 {
      border-color: black; }
      .radio-btns div.selected .r1 .r2 {
        background: black; }

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  padding-top: 10px;
  color: black; }
  body a, body a:link, body a:visited, body a:hover {
    text-decoration: none; }

.head-text {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: black;
  letter-spacing: 1.25px;
  margin-top: 20px; }

.btn-edit {
  position: absolute;
  margin: 20px;
  background: red;
  color: white;
  padding: 2px 16px; }

