@import "scss-styles/fonts.scss";
@import "scss-styles/topmenu.scss";
@import "scss-styles/main-page.scss";
@import "scss-styles/swiper.scss";
@import "scss-styles/product.scss";
@import "scss-styles/filters.scss";
@import "scss-styles/order.scss";
@import "scss-styles/controls.scss";

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    color: black;

    a, a:link, a:visited, a:hover {
        text-decoration: none;
    }

    .container {
        width: 100% !important;
    }
}

.head-text {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: black;
    letter-spacing: 1.25px;
    margin-top: 20px;
}

.deliv-and-pay {
    .article-info-block {
        div {
            display: inline-block;
        }

        .img {
            border: 1px black solid;
            padding: 8px;
            border-radius: 100%;

            img {
                width: 18px;
            }
        }

        .text {
            margin-left: 30px;
            display: inline-block;
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: 0.4px;
            color: #0d0d0d;
            text-transform: uppercase;
        }
    }

    .default-label {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
        text-align: left;
        color: #808080;
        vertical-align: sub;
    }

    .big-label {
        display: inline-block;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: #0d0d0d;
    }

    .row {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .operator {
        padding: 10px 10px 10px 70px;
        position: relative;
        border: solid 1px #d9d9d9;
        height: 50px;

        img {
            position: absolute;
            height: 25px;
            left: 10px;
        }
    }
}