@import "scss-styles/fonts.scss";
@import "scss-styles/topmenu.scss";
@import "scss-styles/main-page.scss";
@import "scss-styles/swiper.scss";
@import "scss-styles/product.scss";
@import "scss-styles/filters.scss";
@import "scss-styles/order.scss";
@import "scss-styles/controls.scss";
@import "scss-styles/articles.scss";
@import "scss-styles/messages.scss";

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    color: black;

    a, a:link, a:visited, a:hover {
        text-decoration: none;
    }

    .container {
        width: 100% !important;
    }
}

.head-text {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: black;
    letter-spacing: 1.25px;
    margin-top: 20px;
}




.fix-list {
    min-height: 130px;
    max-height: 130px;
    overflow: auto;
    border: 1px solid #ededed;

    div {
        display: block;

        span {
            display: inline-block;
            width: 45%;
            text-align: left;
        }

        span:last-child {
            font-weight: 600;
        }
    }
}

.panel-closed {
    height: 0;
    overflow: hidden;
    padding: 0;
}


.wnd-form{
    text-align:left;
    font-size:14px;

    .row{
        margin-bottom:5px;
    }
}