@import "scss-styles/fonts.scss";
@import "scss-styles/topmenu.scss";
@import "scss-styles/main-page.scss";
@import "scss-styles/swiper.scss";
@import "scss-styles/product.scss";
@import "scss-styles/filters.scss";
@import "scss-styles/order.scss";
@import "scss-styles/controls.scss";
@import "scss-styles/articles.scss";
@import "scss-styles/messages.scss";

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    color: black;

    a, a:link, a:visited, a:hover {
        text-decoration: none;
    }

    .container {
        width: 100% !important;
    }
}

.head-text {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: black;
    letter-spacing: 1.25px;
    margin-top: 20px;
}





