.carousel-control,
.item {
    border-radius: 4px;
}

.btn-blue {
    background-color: #EE0F84;
    color: white !important;
    padding: 2px 16px !important;
}

.btn-gray {
    color: #404e5c !important;
}

.panel-body-color {
    background-color: #F5F5F5 !important;
}

.panel-head-color {
    background-color: #7C848C !important;
    color: white !important;
}

.panel-head-color a {
    color: white !important;
}

.adm-panel-menu {
    margin-bottom: 15px;
}

.adm-panel-menu-btn {
    margin-right: 10px;
    background-color: #409EAF;
}

.cart-amount-row-table {
    color: #666666;
    font-size: 15px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

input {
    color: black;
    height: 30px;
}

textarea {
    color: black;
    height: 300px !important;
}

select {
    color: black;
    height: 30px;
}

#ServerMessage, .message {
    font-size: 150%;
    border: 1px solid #666666;
    background: ghostwhite;
    width: 50%;
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 25vw;
    text-align: center;
    z-index: 99999;
    color: gray;
}

.mailing {
    display: inline-block !important;
    width: 50% !important;
}


#disqus_thread {
    position: relative;
}

    #disqus_thread:after {
        content: "";
        display: block;
        height: 55px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: white;
    }
