.carousel-control,
.item {
    border-radius: 4px;
}

.btn-blue {
    background-color: #22b2da;
    color: white !important;
    padding: 2px 16px !important;
}

.panel-body-color {
    background-color: #F5F5F5 !important;
}

.panel-head-color {
    background-color: #7C848C !important;
    color: white !important;
}

.panel-head-color a {
    color: white !important;
}


input {
    color: black;
    height: 30px;
}

select {
    color: black;
    height: 30px;
}



.mailing {
    display: inline-block !important;
    width: 50% !important;
}
