@model Shop.Models.MenuModel

@{
    Page.Title = "Прокат чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="articles">
    <div class="product-tabs art-tabs">
        <div class="tab">
            <a href="~/s/arts">Публикации</a>
        </div>
        <div class="tab">
            <a href="~/s/arts">Акции</a>
        </div>
    </div>
    <div class="product-tabs-content border-none">
    
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="article">
                        <div class="header">
                            <div class="title">
                                Выбрать в каталоге чемодан, который поможет Вам
                            </div>
                            <img src="~/Content/img/1.jpg"/>
                        </div>
                        <div class="text">
                            Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона.
                            Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона.
                        </div>

                        <blockquote>
                            <p>No ludus viderer repudiandae mel, sed eu nisl tibique, ad pro apeirian ocurreret. Ea cum justo sonet, at justo quaeque ocurreret eam. Id qui eros rebum imperdiet, aeque omnium tibique nam ex, no eros ullum eos. Nam at feugait omittantur, ei est mazim vivendum. Eu eum ponderum dissentiet. Mei ne aliquid similique persecuti, vide deseruisse reprimique no sea. No tempor ponderum pericula vel.</p>
                        </blockquote>

                        <div class="text">
                            Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона.
                            Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона.
                        </div>
                    </div>

                </div>
            </div>
       
    </div>
</div>
