@model Shop.Models.MenuModel

@{
    Page.Title = "Аренда чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="articles">


            <div class="js-tabs-block">
                <div class="product-tabs art-tabs">
                    <div class="tab js-product-tab-title active" data-id="1">
                        <span>Публикации</span>
                    </div>
                    <div class="tab js-product-tab-title" data-id="2">
                        <span>Акции</span>
                    </div>
                </div>
                <div class="product-tabs-content js-product-tabs">
                    <div class="js-product-tab-content" data-id="1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="short-article">
                                    <div class="line1">
                                        <img src="~/Content/img/icons/clean.png" />
                                    </div>

                                    <div class="line2">
                                        <a href="~/s/art?id=1">Выбрать в каталоге чемодан, который поможет Вам</a>
                                    </div>

                                    <div class="line3">
                                        Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования.
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="js-product-tab-content hide" data-id="2">

                        ла ла ла
                    </div>
                </div>
            </div>

        </div>
 