@model Shop.Models.MenuModel

@{
    Page.Title = "Прокат чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order-pages contacts">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left mobile-center">
                <div class="title-main-page">Контакты</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info">
                <div class="line">
                    <div class="title">График роботы</div>
                </div>
                <div class="line">
                    <label>ПН - ПТ</label>
                    <span>с 10:00 до 19:00</span>
                </div>
                <div class="line">
                    <label class="text-right">СБ</label>
                    <span>с 10:00 до 14:00</span>
                </div>
                <div class="line">
                    <label class="text-right">ВС</label>
                    <span>выходной</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info text-left">
                <div class="line">

                    <div class="title">Адрес офиса</div>
                </div>
                <div>
                    <img src="~/Content/img/icons/loc.png"/>
                    <label>г. Киев</label>
                </div>
                <div>
                  
                    <p class="pull-left">
                        <img src="~/Content/img/icons/loc.png" />&nbsp;&nbsp;&nbsp;пр. Победы, 67, корпус “I”, этаж 2, офис 213
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info text-left">
                <div class="line">

                    <div class="title">Контактная информация</div>
                </div>
                <div>
                    <img src="~/Content/img/icons/phone.png" />
                    <label>+38 (093) 444 50 54</label>
                </div>
                <div>
                    <img src="~/Content/img/icons/mail.png" />
                    <label class="text-right"><a href="mailto:info@chemodan.online">info@chemodan.online</a></label>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d635.0557078777746!2d30.4034538!3d50.4555751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDI3JzIwLjEiTiAzMMKwMjQnMTMuNyJF!5e0!3m2!1sru!2sua!4v1492800750704" style="border: 0; height: 400px" allowfullscreen></iframe>
        </div>
    </div>
</div>
