@model Shop.Models.MenuModel

@{
    Page.Title = "Аренда чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container order-pages contacts">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left">
                <div class="title-main-page">Контакты</div>
            </div>
            <div class="hr-title hide-mobile"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info">
                <div class="line">
                    <div class="title">График роботы</div>
                </div>
                <div class="line">
                    <label>ПН - ПТ</label>
                    <span>с 10:00 до 19:00</span>
                </div>
                <div class="line">
                    <label class="text-right">СБ</label>
                    <span>с 10:00 до 19:00</span>
                </div>
                <div class="line">
                    <label class="text-right">ВС</label>
                    <span>выходной</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info text-left">
                <div class="line">

                    <div class="title">Адрес офиса</div>
                </div>
                <div>
                    <img src="~/Content/img/icons/loc.png"/>
                    <label>г. Киев</label>
                </div>
                <div>
                    <img src="~/Content/img/icons/loc.png"/>
                    <label class="text-right">ул. Артем 23, 3 этаж, 1 офис</label>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="info text-left">
                <div class="line">

                    <div class="title">Контактная информация</div>
                </div>
                <div>
                    <img src="~/Content/img/icons/phone.png" />
                    <label>+38 097 854 87 54</label>
                </div>
                <div>
                    <img src="~/Content/img/icons/mail.png" />
                    <label class="text-right">chemodan.che@gmail.com</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img class="map" src="~/Content/img/icons/map.jpg" />
        </div>
    </div>
</div>
