@model Shop.Models.MenuModel

@{
    Page.Title = "Аренда чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container order-pages deliv-and-pay">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left">
                <div class="title-main-page">Доставка и оплата</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title-form">Способ доставки</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/head.png" />
                </div>
                <div class="text">Курьерская доставка</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="default-label">3-4 часа</div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="big-label">60</div>
            <div class="default-label">грн.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/dost.png" />
                </div>
                <div class="text">"Экспресс" доставка</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="default-label">В течение одного часа</div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="big-label">85</div>
            <div class="default-label">грн.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/cart1.png" />
                </div>
                <div class="text">Самовывоз</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="default-label">
                Если вы находитесь в Киеве, мож но сделать заказ на нашем сайте и забрать его в офисе самостоятельно.
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
   
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="operator">
                <img src="~/Content/img/icons/oper.png"/>
                <div class="default-label">
                    Когда ваш заказ будет готов, менеджер наберет вас и пригласит в наш магазин.
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title-form">Способ оплаты</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/card.png" />
                </div>
                <div class="text">Предоплата на карту</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <img src="~/Content/img/icons/bank.png" />
        </div>
    </div>

        <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/card.png" />
                </div>
                <div class="text">Оплата наличными при получении</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="default-label">
                При доставке курьером по Киеву или самовывозе из офиса
            </div>
        </div>
    </div>
</div>
