@model Shop.Models.MenuModel

@{
    Page.Title = "Чемодан напрокат в Киеве – просто, удобно, выгодно!";
    var description = "Chemodan.online предлагает чемодан напрокат в Киеве в широком ассортименте. У нас вы найдете сумки для ручной клади и чемоданы от проверенного производителя, чья продукция пользуется заслуженной популярностью";
    var keywords = "аренда чемоданов, арендовать чемодан, чемодан на прокат, чемодан напрокат, прокат чемоданов, аренда чемоданов киев, арендовать чемодан киев, чемодан на прокат киев, чемодан напрокат киев, прокат чемоданов киев";
    @section head {
        <meta name="description" content="@description">
        <meta name="keywords" content="@keywords">
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container order-pages deliv-and-pay">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left mobile-center">
                <div class="title-main-page">Доставка и оплата</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title-form">Способ доставки</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/cart1.png" />
                </div>
                <div class="text">Самовывоз</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="default-label">
                Забрать заказ по адресу – проспект Победы, 67, корпус I, офис 213.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/head.png" />
                </div>
                <div class="text">Курьерская доставка</div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="default-label">Только по Киеву</div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="info-label">
                @*<div class="big-label">60</div>
                <div class="default-label">грн.</div>*@
                Стоимость - 100 грн.
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/dost.png" />
                </div>
                <div class="text">"Экспресс" доставка</div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="default-label">День в день</div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="info-label">
                 Стоимость – 150 грн.
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">

        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="operator">
                <img src="~/Content/img/icons/oper.png" />
                <div>
                    Как только ваш заказ будет готов, наш курьер обязательно свяжется с вами!
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title-form">Способ оплаты</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/card.png" />
                </div>
                <div class="text">Банковской картой</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="article-info-block">
                <img class="cards" src="~/Content/img/icons/visa1.png" />
                <img class="cards"  src="~/Content/img/icons/master1.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="article-info-block">
                <div class="img">
                    <img src="~/Content/img/icons/wallet.png" />
                </div>
                <div class="text">Оплата наличными</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="default-label">
                @*При доставке курьером по Киеву или самовывозе из офиса*@
            </div>
        </div>
    </div>
</div>

<div class="footer-article">
    <h1>Прокат чемоданов: способы оплаты и доставки</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вы собираетесь в дальнюю поездку и решили арендовать чемодан в Киеве? Правильное решение! Зачем тратить серьезные деньги и покупать вещь, которой приходится пользоваться только одну-две недели в году? Прокат чемоданов на сегодняшний день – оптимальное решение для всех, кто любит путешествовать с комфортом, но не хочет переплачивать за дорожную сумку или саквояж.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chemodan.online рада предложить чемодан напрокат в Киеве на выгодных условиях. У нас вы найдете сумки для ручной клади и чемоданы различного размера от проверенного производителя, чья продукция пользуется заслуженной популярностью.</div>

    <h1>Как лучше арендовать чемодан?</h1>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Прокат чемоданов в Киеве – новая, но уже довольно популярная услуга, которая позволяет собраться в дальнее путешествие или деловую поездку с минимальными затратами времени и денег. Как это происходит? Любая поездка планируется, как правило, за месяцы или недели до самого события. Поэтому всегда есть время прикинуть, сколько вещей вы будете брать с собой. И, в зависимости от этого, брать чемодан напрокат нужного размера.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Аренда чемоданов в Киеве в компании Chemodan.online проходит предельно просто и понятно. Продуманный интерфейс нашего сайта позволяет легко разобраться  с оформлением заказа даже людям, не обладающим большим опытом работы с компьютером. Все, что вам необходимо сделать, это:</div>
    
    <dl class="dl-horizontal">
        <dt>●</dt>
        <dd>выбрать на сайте сумку для ручной клади или чемодан подходящего размера;</dd>

        <dt>●</dt>
        <dd>обозначить дату и срок поездки;</dd>

        <dt>●</dt>
        <dd>указать свои контактные данные;</dd>

        <dt>●</dt>
        <dd>отметить, заберете ли вы чемодан самостоятельно в нашем офисе или нужно его доставить вам домой или в офис;</dd>

        <dt>●</dt>
        <dd>определиться, как вы оплатите прокат чемодана (наличными, банковской картой Visa или MasterCard).</dd>
    </dl>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Кроме того, прокат чемодана в Киеве вы всегда можете оформить, просто позвонив по нашему телефону +38 (093) 444 50 54. У нас работают вежливые и опытные сотрудники, которые не только быстро помогут сделать заказ, но и дадут полезные советы по выбору и использованию чемоданов или сумок.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вы еще ни разу не пользовались такой услугой, как аренда чемоданов? Тогда настало самое время попробовать! Уверены, вам обязательно понравится!</div>
</div>