@model Shop.Models.MenuModel

@{
    Page.Title = "Аренда чемоданов | Chemodan.online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container order-pages faq">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-left">
                <div class="title-main-page">FAQ</div>
            </div>
            <div class="hr-title"></div>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panelcol1">
                <h4 class="header">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panellink1" aria-expanded="true" aria-controls="panellink1">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        Как арендовать чемодан
                    </a>
                </h4>
            </div>
            <div id="panellink1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelcol1">
                <div class="panel-body">

                    <div class="image-text">
                        <div class="image">
                            <img src="~/Content/img/icons/case.png" />
                        </div>
                        <div class="text">Выбрать в каталоге чемодан</div>
                    </div>
                    <br />
                    <div class="image-text">
                        <div class="image">
                            <img src="~/Content/img/icons/calendar.png" />
                        </div>
                        <div class="text">Выбрать даты аренды</div>
                    </div>
                    <br />
                    <div class="image-text">
                        <div class="image">
                            <img src="~/Content/img/icons/wallet.png" />
                        </div>
                        <div class="text">
                            Оплатить залоговую сумму.
                            Стоимость аренды включена в залоговую сумму.
                        </div>
                    </div>
                    <br />
                    <div class="image-text">
                        <div class="image">
                            <img src="~/Content/img/icons/note.png" />
                        </div>
                        <div class="text">Подписать договор аренды.</div>
                    </div>
                    <br />
                    <div class="image-text">
                        <div class="image">
                            <img src="~/Content/img/icons/caselike.png" />
                        </div>
                        <div class="text">Получить чемодан</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panelcol2">
                <h4 class="header">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#panellink2" aria-expanded="false" aria-controls="panellink2">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        Наши особенности
                    </a>
                </h4>
            </div>
            <div id="panellink2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelcol2">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="image-text line-view">
                                <div class="image">
                                    <img src="~/Content/img/icons/clean.png" />
                                </div>
                                <div class="text">Гарантия гигиены</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="image-text line-view">
                                <div class="image">
                                    <img src="~/Content/img/icons/fast.png" />
                                </div>
                                <div class="text">Экспресс доставка</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="image-text line-view">
                                <div class="image">
                                    <img src="~/Content/img/icons/passport.png" />
                                </div>
                                <div class="text">
                                    Залог без паспорта
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    @{
        var c1 = new String[] {
            "3",
            "Дезинфекция чемоданов",
            "Особое внимание мы уделяем гигиене чемоданов. Поэтому наши чемоданы после каждого заказа в обязательном порядке проходят процедуру дезинфекции – обработка специальным паром, температура которого выше 100 градусов. При попадании пара на поверхность он распространяет специальные парафинирующие вещества, растворяющие загрязнения и эффективно уничтожающие неприятные запахи и болезнетворные микроорганизмы. Благодаря этому, вы всегда можете быть уверенными в чистоте, дезинфекции и безопасности наших чемоданов и пользоваться ими с удовольствием!"
        };
        Html.RenderPartial("AccordionPartial", c1);
    }


    @{
        var c2 = new String[] {
            "4",
            "Как оформить аренду чемодана?",
            @"Для аренды чемодана вам необходимо:
            <br>●	на сайте компании в каталоге  выбрать чемодан соответствующий вашей потребности (размер, цвет, характеристика). Ознакомиться со стоимостью аренды (в день) и залоговой стоимостью;
            <br>●	выбрать даты поездки;
            <br>●	указать ваши контактные данные для обратной связи;
            <br>●	выбрать способ оплаты и доставки;
            <br>●	оплатить залоговую сумму(онлайн или наличными);
            <br>●	подписать договор;
            <br>●	забрать чемодан самостоятельно или воспользоваться курьерской доставкой.
            "
        };
        Html.RenderPartial("AccordionPartial", c2);
    }


    @{
        var c3 = new String[] {
            "5",
            "Как оплатить стоимость аренды, а затем вернуть залоговую сумму?",
            "При аренде чемоданов вам достаточно оплатить залоговую стоимость в размере 2000 грн. После завершения срока аренды из этой залоговой суммы будет вычтена сумма аренды. Остаток залоговой суммы будет возвращен вам наличными или на банковскую карту (в зависимости от того, какой способ оплаты вы выбрали ранее)."
        };
        Html.RenderPartial("AccordionPartial", c3);
    }


    @{
        var c4 = new String[] {
            "6",
            "Что делать при поломке арендованного чемодана?",
            @"
            Если чемодан во время его аренды был сломан тогда вам необходимо:
            <br>●	обратиться в офис компании для оценки повреждений;
            <br>●	совместно с нашим сотрудником составить акт о повреждениях:
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	если повреждения незначительные и не влияют на дальнейшее использование чемодана тогда вы оплачиваете стоимость ремонта, согласно прейскуранту цен на ремонт;
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	если повреждения оказываются серьезными и влияют на дальнейшее использование чемодана-  вы оплачиваете стоимость ремонта, согласно прейскуранту цен на ремонт, а также штраф в размере 10% от стоимости чемодана;
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	если повреждения полностью исключают дальнейшее использование чемодана тогда вы оплачиваете его полную стоимость;
            "
        };
        Html.RenderPartial("AccordionPartial", c4);
    }


    @{
        var c5 = new String[] {
            "7",
            "Как вернуть чемодан?",
            @"
            Чемодан вы возвращаете самостоятельно в офис компании. По возвращению чемодана, мы осматриваем его на предмет возможных повреждений. Если замечаний нет - тогда мы подписываем с вами акт приема-передачи и возвращаем залоговую сумму за вычетом стоимости аренды. Если же повреждения были найдены- мы составляем акт об их наличии, и после оценки специалиста вы оплачиваете ремонт, штраф или полную стоимость чемодана.
            "
        };
        Html.RenderPartial("AccordionPartial", c5);
    }



    @{
        var c6 = new String[] {
            "8",
            "Что делать если чемодан был утерян? ",
            @"
            В случае, если чемодан был утерян - вам необходимо уведомить об этом сотрудника компания. Со стороны компании залоговая сумма не будет возвращена клиенту, а заказ будет аннулирован.
            "
        };
        Html.RenderPartial("AccordionPartial", c6);
    }


    @{
        var c7 = new String[] {
            "9",
            "Требования WizzAir",
            @"
            При перелете рейсами компании WIZZ на каждого пассажира допускается провоз:
<br>●	одной единицы малой ручной клади размером не более 42 x 32 x 25 см;
<br>●	до 6 единиц регистрируемого багажа, вес каждой из которых не превышает 32 кг;
<br>●	товаров, купленных в зоне беспошлинной торговли в аэропорту после прохождения зоны досмотра.
<br><br>
За провоз более крупной ручной клади и всех единиц регистрируемого багажа взимаются багажные сборы. Воспользуйтесь <a href='https://wizzair.com/ru-ru/kalkuljator-bagazhnogo-sbora' target='_blank'><b>калькулятором багажного сбора</b></a>, чтобы рассчитать стоимость провоза багажа.
<br><br>
Жидкости допускаются к перевозке на борту только в контейнерах емкостью не более 100 мл, упакованных в надежно закрывающийся прозрачный полиэтиленовый пакет объемом 1 литр и размером 20 x 20 см. Ваш багаж пройдет проверку в аэропорту.

            "
        };
        Html.RenderPartial("AccordionPartial", c7);
    }


    @{
        var c8 = new String[] {
            "10",
            "Дополнительные личные вещи на борту",
            @"
            Вы можете бесплатно взять на борт следующие вещи:
<br>●	верхнюю одежду или одеяло;
<br>●	сотовый телефон;
<br>●	печатную продукцию для чтения во время полета;
<br>●	детские принадлежности для малышей до двух лет, такие как детское питание на время полета и складная детская коляска или небольшая колыбель;
<br>●	пару костылей для лиц с ограниченными физическими возможностями.

            "
        };
        Html.RenderPartial("AccordionPartial", c8);
    }



    @{
        var c9 = new String[] {
            "11",
            "Приоритетная посадка",
            @"
           Если вы обладаете правом приоритетной посадки, вы можете взять еще одну единицу багажа в дополнение к своей малой или крупной ручной клади:
<br>●	дамскую сумку или барсетку, сумку для ноутбука или фотоаппарата размером не более 40 x 30 x 18 см.

            "
        };
        Html.RenderPartial("AccordionPartial", c9);
    }


    @{
        var c10 = new String[] {
            "12",
            "Оплата сборов за провоз багажа",
            @"
           Провоз сверхнормативного багажа можно оплатить во время оформления заявки на бронирование или позднее на странице с информацией о вашем рейсе!
<br>●	Багажные сборы можно оплатить во время регистрации через Интернет в любое время (но не позднее чем за 3 часа до вылета). Провоз багажа можно оплатить в аэропорту, но в таком случае сборы будут намного выше. Мы рекомендуем по возможности оформлять заявку на бронирование через Интернет.

            "
        };
        Html.RenderPartial("AccordionPartial", c10);
    }



    @{
        var c11 = new String[] {
            "13",
            "Регистрируемый багаж - размер и вес",
            @"
          Максимально допустимые размеры регистрируемого багажа:
<br>●	ширина — 149 см;
<br>●	высота — 119 см;
<br>●	длина — 171 см.
<br><br>
Максимально допустимый вес:
<br>●	32 кг для каждой единицы.
<br><br>
Более подробно об требованиях к багажу читайте <a href='https://wizzair.com/ru-ru/информация-и-услуги/информация-о-поездке/bagazh' target='_blank'><b>по ссылке</b></a>

** - источник информации сайт компании Wizzair (wizzair.com)

            "
        };
        Html.RenderPartial("AccordionPartial", c11);
    }



    @{
        var c12 = new String[] {
            "14",
            "Как к вам добраться?",
            @"
          Мы находимся по адресу:
<br>●	юридический адрес: проспект Победы, 67, корпус “I” (ай), офис 213
<br>●	фактический адрес: пересечение ул. Галагановская, 6  и ул. Краснозаводская,7,  корпус “I” (ай), 2-й этаж, офис 213.
<br><br>
Без автомобиля: ст. метро “Нивки”. При выходе из метро необходимо повернуть налево и подняться по лестнице (с правой стороны) на улицу Галагановская. Идете вдоль улицы и упираетесь в двухэтажное голубое здание. С правой стороны нужная дверь (НЕ проходите проходную) и поднимаетесь на 2-й этаж, офис 213.
<br><br>
На автомобиле: <a href='https://goo.gl/maps/uQD2ZEs1RU82' target='_blank'><b>50.455579, 30.403805</b></a>

            "
        };
        Html.RenderPartial("AccordionPartial", c12);
    }



    @{
        var c13 = new String[] {
            "15",
            "Условия доставки?",
            @"
<br>1.	Доставку мы осуществляем нескольким способами только по Киеву:
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	 курьерская доставка по Киеву:
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	стоимость курьерской доставки - 65 грн.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	стоимость курьерской доставки экспресс (в течение одного часа) - 150 грн.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	самовывоз:
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○	заказа можно забрать в нашем офисе самостоятельно по адресу: г. Киев, пр. Победы, 67.
<br>2. Возврат чемодана осуществляется нескольким способами:
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	самостоятельно обратившись в офис компании
<br>Обращаем ваше внимание, стоимость доставки регламентируется курьерской службой.
<br>На данный момент компания не работает с другими регионами Украины.
            "
        };
        Html.RenderPartial("AccordionPartial", c13);
    }


    @{
        var c14 = new String[] {
            "16",
            "Как рассчитать стоимость аренды?",
            @"
Для того, чтоб рассчитать стоимость аренды чемодана, нужно индивидуальную стоимость аренды за день, указанную возле каждого чемодана, умножить на необходимое количество дней и указать необходимые даты поездки в календаре. После выбора дат, система автоматически рассчитает стоимость аренды.
            "
        };
        Html.RenderPartial("AccordionPartial", c14);
    }



    @{
        var c15 = new String[] {
            "17",
            "Условия  для аренды чемодана",
            @"
Для того, чтоб арендовать чемодан необходимо оформить заказ и оплатить залоговую стоимость (залоговая стоимость указана в каждом чемодане на сайте)*.
*мы не принимаем в залог паспорт, загранпаспорт, водительское удостоверение или любые другие документы.

            "
        };
        Html.RenderPartial("AccordionPartial", c15);
    }


    @{
        var c16 = new String[] {
            "18",
            "Возможность аренды нескольких чемоданов",
            @"
Да, в одном заказе вы можете оформить аренду сразу нескольких чемоданов на один период. К примеру, арендовать ручную кладь и большой чемодан сроком на 5 дней (с 01 марта по 05 марта).
<br>Арендовать несколько чемоданов на разные периоды в одном заказе запрещено. Если вам необходимо арендовать несколько чемоданов на разные даты – каждый заказ вы оформляете отдельно.

            "
        };
        Html.RenderPartial("AccordionPartial", c16);
    }


    @{
        var c17 = new String[] {
            "19",
            "Как оформить заказ?",
            @"
Оформить заказа вы можете несколькими способами:
<br>●	на сайте;
<br>●	с помощью заказа обратного звонка: достаточно ввести номер телефона и менеджер с вами свяжется для дальнейшего оформления заказа;
<br>●	по телефону: оформить заказ по номеру: (0ХХ) ХХХ-ХХ-ХХ
<br>●	оформить заказ в офисе компании.

            "
        };
        Html.RenderPartial("AccordionPartial", c17);
    }








</div>
