<div class="form-group text-center">
    <label style="font-size: 19px;">Рассылка скидок и акций Newer</label>
    <input class="form-control mailing" type="email" placeholder="Введите e-mail" id="MailingEmail">
    <input class="btn btn-blue" value="Подписаться!" type="button" id="MailingEmailButton">
</div>