@model Shop.Models.MenuModel



<footer>
    <div class="line1">
        <div class="logo hidden-xs">
            <a href="/" title="Chemodan.online"><img src="~/Content/img/logo.png" alt="Chemodan.online"></a>
        </div>
        <div class="footer-menu  hidden-xs">
            @if (Model != null && Model.topMenuItems != null)
            {
                foreach (var item in Model.topMenuItems)
                {
                    <div>
                        <a href="@item.path">@item.name</a>
                    </div>
                }
            }
        </div>

        <div class="footer-addres">
            <div>+38 (067) 514 54 87</div>
            <div>zakaz.che@gmail.com</div>
            <div>
                <a href="https://www.facebook.com/chemodan.online/">
                    <img src="~/Content/img/icons/facebook-logo.png"/>
                </a>
                <a href="https://www.instagram.com/chemodan.online/">
                    <img src="~/Content/img/icons/instagram-logo.png" />
                </a>
            </div>
        </div>


    </div>
    <div class="line2">
        <div>
            Copyright © Chemodan Online. All Right Reserved 2017
        </div>

        <div class="pull-right">
            <img src="~/Content/img/icons/visa.png" />
            <img src="~/Content/img/icons/master.png" />
        </div>
    </div>
</footer>
