@model Shop.Models.MenuModel

@if (WebSecurity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div><a href="@Url.Action("Administrator", "Admin")">@WebSecurity.CurrentUserName</a></div>
    }
    using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        <div><input type="submit" class="btn btn-blue" value="Выход" /></div>
    }
}

@*<div class="container">*@
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href="/" title="Chemodan.online"><img src="~/Content/img/logo.png" alt="Chemodan.online"></a>
                </div>
            </div>

            <div class="col-md-4">
                


            </div>
            <div class="col-md-4">
                @*@{ Html.RenderPartial("AddMailingPartial"); }*@
            </div>

            

           
        </div>
        <div class="line2">
            <div>
                Copyright © Chemodan Online. All Right Reserved 2017
            </div>
  
            <div class="pull-right">
                <img src="~/Content/img/icons/visa.png"/>
                <img src="~/Content/img/icons/master.png" />
            </div>
        </div>
    </footer>
@*</div>*@