@model Shop.Models.MenuModel

<div class="block-menu">
    <div class="menu">
        @if (Model != null && Model.topMenuItems != null)
        {
            foreach (var item in Model.topMenuItems)
            {
                <a href="@item.path">@item.name</a>
            }
        }
    </div>

    <div class="bread-crumbs">
        @foreach (var item in Model.topMenuItems)
        {
        <a href="@item.path">@item.name</a><span> > </span>
        }
    </div>
</div>

<div style="display: none" id="ServerMessage"></div>
