@model Shop.Models.MenuModel
<div>
    <div class="top-menu-container">
        <div class="top-menu-btn hidden-lg hidden-md hidden-sm js-click-top-menu-btn">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>

        <div class="logo">
            <a href="/" title="Chemodan.online"><img src="~/Content/img/logo.svg" alt="Chemodan.online"></a>
        </div>

        <div class="cart js-cart">
            <div data-href="/Order" class="text">
                <img src="~/Content/img/icons/cart.png" alt="Chemodan.online">
                <span class="hidden-xs hidden-sm">Корзина </span>
                <span class="count js-count">0</span>
            </div>
        </div>

        <div class="top-menu-body js-menu-body hidden-xs">
            @if (Model != null && Model.topMenuItems != null)
            {
                foreach (var item in Model.topMenuItems)
                {
                    <div>
                        <a href="@item.path">@item.name</a>
                    </div>
                }
            }
        </div>


    </div>

    <div class="top-menu-body-mobile hidden-sm hidden-md hidden-lg js-top-menu-body-mobile">
        @if (Model != null && Model.topMenuItems != null)
        {
            foreach (var item in Model.topMenuItems)
            {
                <div>
                    <a href="@item.path">@item.name</a>
                </div>
            }
        }
    </div>

</div>