.deliv-and-pay {
    .article-info-block {
        div {
            display: inline-block;
        }

        .cards {
            height: 40px;
        }

        .img {
            border: 1px black solid;
            padding: 8px;
            border-radius: 100%;

            img {
                width: 18px;
            }
        }

        .text {
            margin-left: 30px;
            display: inline-block;
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: 0.4px;
            color: #0d0d0d;
            text-transform: uppercase;
        }
    }

    .default-label {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
        text-align: left;
        color: #808080;
        vertical-align: sub;
    }

    .big-label {
        display: inline-block;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: #0d0d0d;
    }

    .row {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .operator {
        padding: 10px 10px 10px 70px;
        position: relative;
        border: solid 1px #d9d9d9;
        min-height: 50px;

        img {
            position: absolute;
            height: 25px;
            left: 10px;
        }
    }
}

@media (max-width:767px) {


    .deliv-and-pay {
        .default-label, .big-label, .text, .info-label {
            text-align: center !important;
        }

        .text {
            font-size: 13px;
        }
    }
}
//----------------------------------------------------------------

.faq {
    .panel {
        border: none;

        .panel-heading {
            .header {
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1.3px;
                color: #0d0d0d;
                text-transform: uppercase;
                border: none;
                border-radius: 0;

                a {
                    display: block;
                    padding: 8px 22px;

                    span {
                        margin-right: 30px;
                    }


                    span.glyphicon-minus {
                        display: none;
                    }

                    span.glyphicon-plus {
                        display: inline-block;
                    }

                    &[aria-expanded="true"] {

                        span.glyphicon-minus {
                            display: inline-block;
                        }

                        span.glyphicon-plus {
                            display: none;
                        }
                    }
                }
            }
        }

        .panel-body {
            padding: 40px 80px;
            border: none !important;
        }
    }

    .image-text {
        padding-left: 85px;
        position: relative;
        min-height: 51px;

        .image {
            position: absolute;
            left: 0;
            border: 1px black solid;
            padding: 13px;
            border-radius: 100%;

            img {
                width: 23px;
            }
        }

        .text {
            font-size: 16px;
            letter-spacing: 0.4px;
            color: #0d0d0d;
            display: inline-block;
            margin-top: 12px;
        }

        &.line-view {
            padding-left: 0;
            position: inherit;
            min-height: initial;
            text-align: center;

            .image {
                position: initial;
                left: 0;
                border: none;
                padding: 0px;
                border-radius: 0;

                img {
                    width: auto;
                }
            }

            .text {
                font-size: 14px;
                line-height: 1.86;
                letter-spacing: 0.4px;
                color: #0d0d0d;
                text-transform: uppercase;
            }
        }
    }

    .text-only {
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.4px;
        color: #0d0d0d;
    }
}

@media (max-width:768px) {
    .faq {
        .panel {
            .panel-heading {
                .header {
                    text-transform: inherit;
                    letter-spacing: 0.5px;
                    font-weight: normal;

                    a {
                        padding: 8px 5px;
                        word-break: break-all;

                        span {
                            margin-right: 15px;
                        }
                    }
                }
            }

            .panel-body {
                padding: 20px 20px;
            }
        }

        .image-text {
            padding-left: 70px;
        }
    }
}
//-----------------------------------------------------------------
.contacts {
    .map {
        width: 100%;
    }

    .info {
        .line {
            text-align: right;
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: 0.4px;
            color: #0d0d0d;
            display: table;

            .title {
                padding-top: 20px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: left;
            }

            label {
                display: table-cell;
                font-weight: normal;
                min-width: 80px;
                text-align: right;
            }

            span {
                padding-left: 25px;
                display: table-cell;
                color: #808080;
                font-weight: normal;
            }
        }

        label {
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: 0.4px;
            color: #0d0d0d;
            padding: 0 0 0 10px;
            margin: 0;
        }
    }
}

@media (max-width:991px) {
    .info {
        text-align: center;

        .line {
            display: inline-block !important;
            text-align: center !important;
            width: 100%;

            .title {
                text-align: center !important;
            }
        }
    }
}
//--------------------------------------------------------------


.articles {

    .short-article {
        margin-top: 15px;
        margin-bottom: 15px;

        .line1 {
            img {
                width: 100%;
            }
        }

        .line2 {
            a {
                font-size: 14px;
                font-weight: bold;
                line-height: 1.29;
                letter-spacing: 0.4px;
                color: #0d0d0d;
            }

            margin-top: 20px;
            min-height: 35px;
            max-height: 35px;
            overflow: hidden;
        }

        .line3 {
            margin-top: 15px;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.3px;
            color: #808080;
            min-height: 50px;
            max-height: 50px;
            overflow: hidden;
        }
    }


    .art-tabs {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #808080;
        text-transform: uppercase;

        .tab.active {
            color: #333333;
        }
    }

    .article {
        .header {
            position: relative;
            margin-bottom: 35px;
            text-align: center;

            img {
                width: 100%;
            }

            .title {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.17;
                letter-spacing: 0.6px;
                color: #ffffff;
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
            }
        }

        .text {
            padding-left: 4%;
            padding-right: 4%;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.75;
            letter-spacing: 0.4px;
            color: #0d0d0d;
        }

        blockquote {
            margin: 35px 8%;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.86;
            letter-spacing: 0.4px;
            color: #808080;
            border-color: #22b2da;
        }
    }
}

@media (max-width:768px) {
    .articles {
        .article {
            .header {
                .title {
                    font-size: 18px;
                }
            }
        }
    }
}
