.border-none {
  border: none !important; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-30 {
  margin-top: 30px; }

a, a:visited, a:hover {
  color: black;
  text-decoration: none; }

input.error, span.error, div.error {
  border: 1px solid #fe8080 !important;
  background-color: rgba(255, 109, 109, 0.05) !important; }

.radio-btns div {
  color: gray;
  cursor: pointer;
  padding: 0 0 5px 0; }
  .radio-btns div .r1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 100%;
    vertical-align: middle;
    background: white; }
    .radio-btns div .r1 .r2 {
      display: block;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      width: 60%;
      height: 60%; }
  .radio-btns div.selected {
    color: black; }
    .radio-btns div.selected .r1 {
      border-color: black; }
      .radio-btns div.selected .r1 .r2 {
        background: black; }

.button {
  background-color: #22b2da;
  border-radius: 8px; }
  .button a, .button a:hover, .button a:visited, .button span, .button span:hover {
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase; }
    .button a.button-order, .button a:hover.button-order, .button a:visited.button-order, .button span.button-order, .button span:hover.button-order {
      font-size: 14px;
      letter-spacing: 0.4px;
      text-align: center;
      color: white;
      padding: 10px 12px; }
  .button.disabled {
    opacity: 0.2;
    cursor: not-allowed !important; }

.button-default {
  border-radius: 8px;
  border: solid 1px #999999;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #999 !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer; }
  .button-default:active {
    opacity: 0.7; }

.button-info {
  width: 100%;
  border-radius: 8px;
  border: solid 1px #22b2da;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #22b2da !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  user-select: none; }
  .button-info.blue {
    background-color: #22b2da;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase; }
  .button-info:active {
    opacity: 0.7; }

.button-default {
  border-radius: 8px;
  border: solid 1px #999999;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #999 !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  user-select: none; }
  .button-default:active {
    opacity: 0.7; }

.btn-info-block, .btn-info-block:hover {
  background: #3c3b3b;
  cursor: pointer;
  padding: 10px 40px;
  color: #fff !important;
  border-radius: 0;
  font-size: 17px; }
  .btn-info-block:active, .btn-info-block:hover:active {
    opacity: 0.7; }

.btn-edit {
  position: absolute;
  margin: 20px;
  background: red;
  color: white;
  padding: 2px 16px; }

.title-filter {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #0d0d0d;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px; }

.long-minus {
  display: inline-block; }

.product-tabs {
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #0d0d0d;
  font-weight: 300;
  border-bottom: 1px black solid; }
  .product-tabs .tab {
    padding: 40px 10px 15px 10px;
    cursor: pointer;
    display: inline-block; }
    .product-tabs .tab.active {
      padding: 39px 10px 15px 10px;
      font-weight: bold;
      border-bottom: 2px black solid; }
  .product-tabs .tab:last-of-type {
    margin-left: 20px; }

.product-tabs-content {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #0d0d0d;
  border-bottom: 1px solid black; }
  .product-tabs-content .spec-item {
    position: relative;
    margin: 13px 0; }
    .product-tabs-content .spec-item .rect {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #000000;
      margin-right: 10px;
      margin-bottom: 3px; }
    .product-tabs-content .spec-item .dotted {
      bottom: 5px;
      margin-left: 20px;
      width: 90%; }
    .product-tabs-content .spec-item .spec-text {
      background: white;
      padding-right: 10px; }
    .product-tabs-content .spec-item .spec-value {
      float: right;
      background: white;
      padding-left: 10px; }

.date-values {
  margin: 0 23px 0px 23px;
  max-height: 35px;
  min-height: 35px;
  border-radius: 3px;
  background-color: #ffffff;
  padding-left: 8px;
  white-space: nowrap;
  display: inline-block; }
  .date-values.border {
    border: 1px solid #22b2da; }
  .date-values img {
    width: 15px;
    padding: 8px 0; }
  .date-values input {
    border: none;
    text-align: center;
    width: 103px;
    outline: none;
    font-size: 13px;
    letter-spacing: 0.7px; }
  .date-values input:focus {
    outline: none; }
  .date-values input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none; }
  .date-values input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
    padding: 13px 7px;
    cursor: pointer; }
  .date-values input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none; }
  .date-values input[type="date"]::-ms-clear {
    display: none; }

