a, a:visited,a:hover {
    color: black;
    text-decoration: none;
}

input, span, div {
    &.error {
        border: 1px solid #fe8080;
        background-color: rgba(255, 109, 109, 0.05);
    }
}

.button-default {
    border-radius: 8px;
    border: solid 1px #999999;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #999999;
    padding: 15px 30px;
    display: inline-block;
}

.btn-info-block, .btn-info-block:hover {
    background: #3c3b3b;
    cursor: pointer;
    padding: 10px 40px;
    color: #fff;
    border-radius: 0;
    font-size: 17px;
}
