a, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

input, span, div {
    &.error {
        border: 1px solid #fe8080;
        background-color: rgba(255, 109, 109, 0.05);
    }
}

.button-default {
    border-radius: 8px;
    border: solid 1px #999999;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #999 !important;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;

    &:active {
        opacity: 0.7;
    }
}

.button-info {
    width: 100%;
    border-radius: 8px;
    border: solid 1px #22b2da;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #22b2da !important;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &.blue {
        background-color: #22b2da;
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    &:active {
        opacity: 0.7;
    }
}

.button-default {
    border-radius: 8px;
    border: solid 1px #999999;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #999 !important;
    padding: 15px 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &:active {
        opacity: 0.7;
    }
}

.btn-info-block, .btn-info-block:hover {
    background: #3c3b3b;
    cursor: pointer;
    padding: 10px 40px;
    color: #fff !important;
    border-radius: 0;
    font-size: 17px;

    &:active {
        opacity: 0.7;
    }
}


.title-filter {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #0d0d0d;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
}
