.filters {
    .filter-name {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0d0d0d;
        text-transform: uppercase;
        text-align: left;
    }

    ul {
        padding-left: 0;

        li {
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            list-style: none;
            cursor: pointer;
            font-size: 13px;
            letter-spacing: 0.7px;
            color: #808080;
            text-align: left;
           
            .txt{
                padding-left:20px;
            }
            input {
                display: inline-block;
                height: 17px;
                width: 17px;
                padding:0;
                margin:0;
                vertical-align: middle;
            }
        }

        li.active {
            font-weight: 600;
            color: black;
        }
    }
}

.selected-filters {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    color: #0d0d0d;
    text-align:left;

    span {
        background-color: #dbdbdb;
        display: inline-block;
        border-radius: 20px;
        padding: 8px 15px;
        margin: 0 5px;
        cursor:pointer;
    }

        span:last-of-type {
            color: #808080;
            background:none;
            padding: 8px 15px 8px 5px;
    }
}
