.filters {
    .filter-name {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0d0d0d;
        text-transform: uppercase;
        text-align: left;
    }

    ul {
        padding-left: 0;

        li {
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            list-style: none;
            cursor: pointer;
            font-size: 13px;
            letter-spacing: 0.7px;
            color: #808080;
            text-align: left;

            .txt {
                padding-left: 20px;
            }

            input {
                display: inline-block;
                height: 17px;
                width: 17px;
                padding: 0;
                margin: 0;
                vertical-align: middle;
            }
        }

        li.active {
            font-weight: 600;
            color: black;
        }
    }
}

.selected-filters {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    color: #0d0d0d;
    text-align: left;

    span {
        background-color: #dbdbdb;
        display: inline-block;
        border-radius: 20px;
        padding: 8px 15px;
        margin: 5px;
        cursor: pointer;
    }

    span:last-of-type {
        color: #808080;
        background: none;
        padding: 8px 15px 8px 5px;
    }

    .filter-clear {
        padding: 0 !important;
        margin: 0 !important;
        color: black !important;
    }
}

.filter-viewer {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: #232222;
    border-radius: 3px;
    border: solid 1px #d9d9d9;
    margin: 5px;
    padding: 10px;
    background: #e8e8e8;
    vertical-align: text-bottom;
    font-weight: 600;
    cursor:pointer;
}

@media (max-width:767px) {

    .hide-mobile {
        display: none;
    }


    .filters {
        .filter-name {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 1.36;
            letter-spacing: 0.6px;
            color: #0d0d0d;
            text-transform: uppercase;
            text-align: left;
        }

        ul {
            padding-left: 0;

            li {
                display: block;
                font-size: 20px;
                line-height: 1.5;
                letter-spacing: 1px;
                text-align: center;
                color: #808080;
                border-radius: 3px;
                border: solid 1px #d9d9d9;
                margin: 5px;

                .txt {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                input {
                    display: none;
                }
            }

            li.active {
                font-weight: normal;
                color: #fefefe;
                background-color: #1b1b1b;
            }
        }
    }
}
