.filters .filter-name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  text-align: left; }

.filters ul {
  padding-left: 0; }
  .filters ul li {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #808080;
    text-align: left; }
    .filters ul li .txt {
      padding-left: 20px; }
    .filters ul li input {
      display: inline-block;
      height: 17px;
      width: 17px;
      padding: 0;
      margin: 0;
      vertical-align: middle; }
  .filters ul li.active {
    font-weight: 600;
    color: black; }

.selected-filters {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0d0d0d;
  text-align: left; }
  .selected-filters span {
    background-color: #dbdbdb;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer; }
  .selected-filters span:last-of-type {
    color: #808080;
    background: none;
    padding: 8px 15px 8px 5px; }
  .selected-filters .filter-clear {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important; }

@media (max-width: 767px) {
  .hide-mobile {
    display: none; }
  .filters .filter-name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.6px;
    color: #0d0d0d;
    text-transform: uppercase;
    text-align: left; }
  .filters ul {
    padding-left: 0; }
    .filters ul li {
      display: inline-block;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: center;
      color: #808080;
      border-radius: 3px;
      border: solid 1px #d9d9d9;
      margin: 5px; }
      .filters ul li .txt {
        padding-left: 20px;
        padding-right: 20px; }
      .filters ul li input {
        display: none; }
    .filters ul li.active {
      font-weight: normal;
      color: #fefefe;
      background-color: #1b1b1b; } }

