.info-category {

    .item {
        border: 1px solid #f5f5f5;
        background-color: #f5f5f5;
        display: table;

        .text-block {
            display: table-cell;
            vertical-align: top;
        }

        .img-block {
            display: table-cell;
            vertical-align: top;

            img {
                width: 100%;
            }
        }

        .title {
            overflow: hidden;
            text-align: left;
            color: #000000;
            text-transform: uppercase;

            a, a:visited {
                color: black;
                text-decoration: none;
            }

            a:hover {
                color: black;
                text-decoration: none;
            }
        }

        .name {
            text-align: left;
            color: #22b2da;
            overflow: hidden;

            span {
                vertical-align: text-top;
            }
        }

        .description {
            text-align: left;
            overflow: hidden;
        }
    }
}


.title-main-page {
    position: relative;
    line-height: 1.15;
    letter-spacing: 1.3px;
    text-align: center;
    color: #333333;
    background: white;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    text-transform: uppercase;
}

.hr-title {
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    right: 5%;
    left: 5%;
    z-index: 0;
}


//@media (min-width: 1200px) {}

@media (min-width: 992px) /*and (max-width: 1199px )*/ {
    .title-main-page {
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 26px;
    }

    .hr-title {
        margin-top: -51px;
    }

    .info-category {
        padding-left: 100px;
        padding-right: 100px;

        .item {
            .text-block {
                padding: 45px 5%;
                width: 55%;
            }

            .img-block {
                width: 40%;
                margin-top: 27px;
                position: relative;
            }

            .title {
                max-height: 25px;
                min-height: 25px;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.36;
                letter-spacing: 1.1px;
            }

            .name {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.88;
                letter-spacing: 0.4px;
                margin: 20px 0;

                span {
                    padding-left: 10px;
                }
            }

            .description {
                margin-bottom: 10px;
                max-height: 160px;
                min-height: 160px;
                font-size: 13px;
                font-weight: 300;
                line-height: 1.6;
                letter-spacing: 0.3px;
                overflow: hidden;
            }

            .button {
                height: 50px;

                a {
                    display: block;
                    height: 100%;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.88;
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
    .title-main-page {
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .hr-title {
        margin-top: -41px;
    }

    .info-category {
        padding-left: 30px;
        padding-right: 30px;

        .item {
            .text-block {
                padding: 30px 5%;
                width: 55%;
            }

            .img-block {
                width: 40%;
                margin-top: 27px;
                position: relative;
            }

            .title {
                max-height: 16px;
                min-height: 16px;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.3;
                letter-spacing: 0.7px;
            }

            .name {
                margin: 10px 0;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 0.3px;

                span {
                    padding-left: 10px;
                }
            }

            .description {
                margin-bottom: 10px;
                max-height: 160px;
                min-height: 160px;
                font-size: 10px;
                font-weight: 300;
                line-height: 1.63;
                letter-spacing: 0.5px;
                overflow: hidden;
            }

            .button {
                height: 35px;

                a {
                    display: block;
                    height: 100%;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.5;
                    letter-spacing: 0.6px;
                }
            }
        }
    }
}

@media (max-width: 767px) {

    .mobile-center {
        text-align: center;
    }


    .title-main-page {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .hr-title {
        margin-top: -32px;
    }

    .info-category {
        padding-left: 0;
        padding-right: 0;

        .item {
            margin-bottom: 20px;

            .text-block {
                padding: 30px 5%;
                width: 55%;
            }

            .img-block {
                margin-top: 10px;
                position: relative;
                width: 40%;
            }

            .title {
                max-height: 16px;
                min-height: 16px;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.3;
                letter-spacing: 0.7px;
            }

            .name {
                margin: 10px 0;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 0.3px;

                span {
                    padding-left: 10px;
                }
            }

            .description {
                margin-bottom: 10px;
                max-height: 160px;
                min-height: 160px;
                font-size: 10px;
                font-weight: 300;
                line-height: 1.63;
                letter-spacing: 0.5px;
                overflow: hidden;
            }

            .button {
                height: 35px;

                a {
                    display: block;
                    height: 100%;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.5;
                    letter-spacing: 0.6px;
                }
            }
        }
    }
}

footer {
    margin-top: 40px;
    border-top: 1px solid #0d0d0d;

    .row {
        margin: 0;
        padding: 0;
    }

    [class*='col-'] {
        margin: 0;
        padding: 0;
    }

    .line1 {
        font-weight: 300;
        color: #0d0d0d;
        overflow: hidden;



        .logo {
            margin: 18px 30px 18px 0;
            vertical-align: top;

            a {
                img, svg {
                    height: auto;
                    width: 175px;
                    height:65px;
                }
            }
        }

        .footer-addres {
            font-weight: 300;
            line-height: 1.76;
            letter-spacing: 0.3px;
            text-align: center;
            color: #0d0d0d;
            float: right;
            font-size: 18px;
            text-align: right;
            padding-top: 5px;

            a {
                padding: 6px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            div {
                display: block;
            }
        }
    }

    .line2 {
        background-color: #0d0d0d;
        font-weight: 300;
        text-align: left;
        color: #666666;

        img {
            height: 20px;
            width: auto;
        }

        div {
            display: inline-block;
        }
    }
}

@media (min-width: 768px) {
    footer {
        border-top: 1px solid #0d0d0d;
        font-size: 14px;

        .line1 {
            min-height: 107px;
            max-height: 107px;
            padding: 0 30px;
            font-size: 15px;
            overflow: hidden;

            div {
                display: inline-block;
            }

            .footer-menu {
                // width: 310px;
                min-height: 107px;
                max-height: 107px;
                overflow: hidden;

                a {
                    display: block;
                    padding: 9px 20px;
                    //min-width: 120px;
                }
            }

            .footer-addres {
                font-size: 18px;
            }
        }

        .line2 {
            padding: 0 30px;
            min-height: 40px;
            max-height: 40px;
            line-height: 2.6;
            letter-spacing: 0.5px;
        }
    }
}

@media (max-width: 767px) {
    footer {
        border-top: 1px solid #0d0d0d;
        font-size: 7px;

        .line1 {
            min-height: 107px;
            max-height: 107px;
            padding: 0 15px;
            line-height: 1.88;
            letter-spacing: 0.6px;
            color: #0d0d0d;
            font-size: 10px;
            font-size: 14px;

            .footer-addres {
                font-size: 18px;
                text-align: center;
                width: 100%;

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .line2 {
            padding: 0 15px;
            min-height: 40px;
            max-height: 40px;
            line-height: 5.6;
            letter-spacing: 0.5px;
        }
    }
}

.footer-article {
    margin-top:40px;
    padding-left:5%;
    padding-right:5%;

        .dl-horizontal {
        dd {
            margin-left: 50px;
            margin-top: 5px;
        }

        dt {
            width: 40px;
            // margin-top:5px;
        }
    }

    .h1, h1 {
        font-size: 25px;
        text-align: center;
    }
}
