.glass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99998; }

#ServerMessage, .message {
  font-size: 140%;
  border: 1px solid #666666;
  background: ghostwhite;
  width: 60%;
  padding: 20px 10px;
  position: fixed;
  top: 35vh;
  left: 19vw;
  text-align: center;
  z-index: 99999;
  color: gray;
  max-height: 60vh;
  overflow: auto;
  box-shadow: 2px 2px 4px 0px #716060; }
  #ServerMessage .close, .message .close {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0; }

.panel {
  position: relative; }
  .panel .close {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0; }

@media (max-width: 767px) {
  .message {
    font-size: 100%;
    width: 80%;
    padding: 20px 10px;
    position: fixed;
    top: 20vh;
    left: 10vw;
    text-align: center;
    z-index: 99999;
    color: #808080;
    max-height: 60vh;
    overflow: auto; } }

