.order-table {
    [class*='col-'] {
        padding: 0;
    }

    .head {
        min-height: 52px;
        max-height: 52px;
        border-radius: 3px;
        background-color: #f0f6f7;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: #808080;
        padding-left: 20px;

        div {
            padding: 18px 0 20px 0;
        }
    }

    .body {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;

        .item {
            display: table;
            width: 100%;

            .product-info {


                .img-block {
                    display: table-cell;
                    width: 55px;

                    img {
                        max-width: 55px;
                    }
                }

                .txt-block {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 13px;
                    letter-spacing: 0.3px;
                    width: 100%;

                    .line1 {
                        margin-left: 20px;
                        line-height: 1.77;
                        color: #0d0d0d;
                    }

                    .line2 {
                        margin-left: 20px;
                        line-height: 2.31;
                        color: #808080;
                    }
                }
            }

            .txt-label {
                font-size: 14px;
                letter-spacing: 0.7px;
                color: #808080;
            }

            .cell {
                display: table-cell;
                vertical-align: middle;
                height: 100%;
            }

            .counter {
                margin-top: 20px;
                min-height: 40px;
                max-height: 40px;
                width: 110px;
                border-radius: 3px;
                border: solid 1px #b3b3b3;
                font-size: 16px;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
                overflow: hidden;
                //white-space: nowrap;

                span:first-of-type {
                    font-size: 25px;
                    color: #b3b3b3;
                    display: inline-block;
                    float: left;
                    padding: 5px 13px 9px 13px;
                    line-height: 1;
                    vertical-align: middle;
                    cursor: pointer;
                }

                span:last-of-type {
                    font-size: 25px;
                    color: #b3b3b3;
                    display: inline-block;
                    float: right;
                    padding: 6px 13px 8px 13px;
                    line-height: 1;
                    vertical-align: middle;
                    cursor: pointer;
                }

                .cont-item {
                    display: inline-block;
                    line-height: 2.5;
                }
            }

            .num {
                margin-top: 29px;
                display: inline-block;
                font-size: 16.3px;
                line-height: 1.25;
                letter-spacing: 0.5px;
                color: #003663;
            }

            .txt {
                margin-top: 29px;
                display: inline-block;
                font-size: 13px;
                line-height: 1.53;
                letter-spacing: 0.4px;
            }

            .clear-line {
                margin-top: 25px;
                display: inline-block;
                padding: 5px;
                float: right;

                img {
                    width: 13px;
                    height: 13px;
                }

                &.mobile {
                    margin-top: -10px;
                }
            }
        }
    }
}

.order-pages {

    label {
        font-size: 14px;
        font-weight: 300;
        line-height: 2.14;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0d0d0d;
    }

    .title-form {
        border-radius: 3px;
        background-color: #f0f6f7;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.88;
        letter-spacing: 1.3px;
        color: #0d0d0d;
        padding: 20px;
        text-transform: uppercase;
    }



    .order-info {
        margin-bottom: 15px;
        border-radius: 3px;
        background-color: #ebf1f2;
        padding-bottom: 35px;

        .title {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.4px;
            text-align: left;
            color: #0d0d0d;
            border-bottom: 1px solid #b3b3b3;
            padding: 20px 23px;
        }

        .info-label {
            padding: 20px 0 13px 20px;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 0.3px;
            color: #000000;
            display: inline-block;

            &.radio {
                padding: 0;
                margin: 0;
                vertical-align: top;
            }
        }

        .margin-block {
            padding: 20px 0 13px 20px;
        }



        .order-radios {
            display: inline-block;
            margin-left: 20px;
        }

        .order-summ-block {
            padding: 20px 23px 13px 20px;
            text-align: right;
            position: relative;

            .summ-label {
                font-size: 14px;
                letter-spacing: 0.4px;
                color: #0d0d0d;
                float: left;
                display: inline-block;
                padding-top: 12px;
            }

            .order-summ-val {
                font-size: 26px;
                font-weight: bold;
                letter-spacing: 0.7px;
                text-align: center;
                color: #0d0d0d;
            }

            hr.order {
                padding: 0;
                margin: 15px -21px;
                right: -2px;
                height: 1px;
                background-color: #b3b3b3;
                display: block;
                position: relative;
            }
        }
    }

    .order-checkbox {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #808080;
        margin-left: 30px;

        input {
            width: 15px;
            height: 15px;
            padding: 0;
            display: inline-block;
            margin: 0;
            position: absolute;
            margin-left: -38px;
        }

        a {
            text-decoration: underline;
        }
    }
}

.admindrders {
    .filter-row {
        margin-bottom: 10px;

        .flter-item {
            display: inline-block;
        }
    }

    .date-values {
        margin: 0;
        max-height: 33px;
        min-height: 33px;
    }

    .btn {
        vertical-align: baseline;
    }
}


.admindrder {
    .row {
        margin: 10px 0;
    }

    .line1 {
        div {
            display: inline-block;
            font-size: 20px;
        }

        .user {
            font-size: 15px;
            border-radius: 5px;
            background: #b3b3b3;
            padding: 5px 10px;
        }
    }

    .product-tabs .tab:last-of-type {
        margin-left: 0;
    }
}


.product-to-order{
    select,button{
        width: 100%;
    }
}

.edit-order{
    font-size:15px!important;
}