.order-pages label {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0d0d0d; }

.order-pages .title-form {
  border-radius: 3px;
  background-color: #f0f6f7;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #0d0d0d;
  padding: 20px;
  text-transform: uppercase; }

.order-pages .order-table [class*='col-'] {
  padding: 0; }

.order-pages .order-table .head {
  min-height: 52px;
  max-height: 52px;
  border-radius: 3px;
  background-color: #f0f6f7;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #808080;
  padding-left: 20px; }
  .order-pages .order-table .head div {
    padding: 18px 0 20px 0; }

.order-pages .order-table .body {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  .order-pages .order-table .body .item {
    display: table;
    width: 100%; }
    .order-pages .order-table .body .item .product-info .img-block {
      display: table-cell;
      width: 55px; }
      .order-pages .order-table .body .item .product-info .img-block img {
        max-width: 55px; }
    .order-pages .order-table .body .item .product-info .txt-block {
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
      letter-spacing: 0.3px;
      width: 100%; }
      .order-pages .order-table .body .item .product-info .txt-block .line1 {
        margin-left: 20px;
        line-height: 1.77;
        color: #0d0d0d; }
      .order-pages .order-table .body .item .product-info .txt-block .line2 {
        margin-left: 20px;
        line-height: 2.31;
        color: #808080; }
    .order-pages .order-table .body .item .txt-label {
      font-size: 14px;
      letter-spacing: 0.7px;
      color: #808080; }
    .order-pages .order-table .body .item .cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%; }
    .order-pages .order-table .body .item .counter {
      margin-top: 20px;
      min-height: 40px;
      max-height: 40px;
      width: 110px;
      border-radius: 3px;
      border: solid 1px #b3b3b3;
      font-size: 16px;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      overflow: hidden;
      white-space: nowrap; }
      .order-pages .order-table .body .item .counter span:first-of-type {
        font-size: 25px;
        color: #b3b3b3;
        display: inline-block;
        float: left;
        padding: 5px 13px 9px 13px;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer; }
      .order-pages .order-table .body .item .counter span:last-of-type {
        font-size: 25px;
        color: #b3b3b3;
        display: inline-block;
        float: right;
        padding: 6px 13px 8px 13px;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer; }
      .order-pages .order-table .body .item .counter .cont-item {
        display: inline-block;
        line-height: 2.5; }
    .order-pages .order-table .body .item .num {
      margin-top: 29px;
      display: inline-block;
      font-size: 16.3px;
      line-height: 1.25;
      letter-spacing: 0.5px;
      color: #003663; }
    .order-pages .order-table .body .item .txt {
      margin-top: 29px;
      display: inline-block;
      font-size: 13px;
      line-height: 1.53;
      letter-spacing: 0.4px; }
    .order-pages .order-table .body .item .clear-line {
      margin-top: 25px;
      display: inline-block;
      padding: 5px;
      float: right; }
      .order-pages .order-table .body .item .clear-line img {
        width: 13px;
        height: 13px; }
      .order-pages .order-table .body .item .clear-line.mobile {
        margin-top: -10px; }

.order-pages .order-info {
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #ebf1f2;
  padding-bottom: 35px; }
  .order-pages .order-info .title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #0d0d0d;
    border-bottom: 1px solid #b3b3b3;
    padding: 20px 23px; }
  .order-pages .order-info .info-label {
    padding: 20px 0 13px 20px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #000000;
    display: inline-block; }
    .order-pages .order-info .info-label.radio {
      padding: 0;
      margin: 0;
      vertical-align: top; }
  .order-pages .order-info .margin-block {
    padding: 20px 0 13px 20px; }
  .order-pages .order-info .date-values {
    margin: 0 23px 0px 23px;
    max-height: 35px;
    min-height: 35px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-left: 8px;
    white-space: nowrap;
    display: inline-block; }
    .order-pages .order-info .date-values img {
      width: 15px;
      padding: 8px 0; }
    .order-pages .order-info .date-values input {
      border: none;
      text-align: center;
      width: 103px;
      outline: none;
      font-size: 13px;
      letter-spacing: 0.7px; }
    .order-pages .order-info .date-values input:focus {
      outline: none; }
    .order-pages .order-info .date-values input[type=date]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none; }
    .order-pages .order-info .date-values input[type=date]::-webkit-calendar-picker-indicator {
      opacity: 1;
      padding: 13px 7px;
      cursor: pointer; }
    .order-pages .order-info .date-values input[type="date"]::-webkit-clear-button {
      -webkit-appearance: none;
      display: none; }
    .order-pages .order-info .date-values input[type="date"]::-ms-clear {
      display: none; }
  .order-pages .order-info .order-radios {
    display: inline-block;
    margin-left: 20px; }
  .order-pages .order-info .order-summ-block {
    padding: 20px 23px 13px 20px;
    text-align: center;
    position: relative; }
    .order-pages .order-info .order-summ-block .summ-label {
      font-size: 14px;
      letter-spacing: 0.4px;
      color: #0d0d0d;
      float: left;
      display: inline-block;
      padding-top: 12px; }
    .order-pages .order-info .order-summ-block .order-summ-val {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.7px;
      text-align: center;
      color: #0d0d0d; }
    .order-pages .order-info .order-summ-block hr.order {
      padding: 0;
      margin: 15px -21px;
      right: -2px;
      height: 1px;
      background-color: #b3b3b3;
      display: block;
      position: relative; }

.order-pages .order-checkbox {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #808080;
  margin-left: 30px; }
  .order-pages .order-checkbox input {
    width: 15px;
    height: 15px;
    padding: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    margin-left: -38px; }
  .order-pages .order-checkbox a {
    text-decoration: underline; }

