.short-product {
    text-align: center;

    .line1 {

        img {
            width: 70%;
        }
    }

    .line2 {
        /*min-height: 20px;
        max-height: 20px;
        overflow: hidden;
        vertical-align: middle;*/
        position: absolute;
        top: 0px;
        left: 25px;
        background: rgba(255, 255, 255, 0.76);
    }

    .line3 {
        min-height: 20px;
        max-height: 20px;
        overflow: hidden;
        vertical-align: middle;
    }

    .line4 {
        margin-top: 10px;
    }

    .line5 {
        margin-top: 10px;
    }

    .txt {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #808080;
        vertical-align: middle;
    }

    .val {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #333333;
        vertical-align: middle;
    }

    .price {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;
        vertical-align: middle;
    }

    &.list-item {
        margin-top: 20px;
        margin-bottom: 20px;

        .line1 {
            border-radius: 5px;
            border: solid 1px #ededed;
        }

        .line2 {
            top: 30px;
        }

        .line3 {
            margin-top: 10px;
        }
    }
}

.product-card {
    .breadcrumbs {
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #808080;

        a {
            padding: 5px 10px;
            color: #808080;
        }

        a:last-of-type {
            color: black;
        }
    }

    .title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #0d0d0d;

        &.tablet {
            font-size: 18px;
            letter-spacing: 0.5px;
            font-weight: normal;
            color: #0d0d0d;
        }
    }

    .art {
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #808080;
        border-bottom: 1px black solid;
        padding: 20px 0 30px 0;
    }


    .dotted {
        display: block;
        border-bottom: 1px dotted rgb(195, 195, 195);
        position: absolute;
        width: 100%;
        bottom: 9px;
        z-index: -1;
    }

    .prices {
        margin-top: 19px;
        padding-bottom: 18px;
        border-bottom: 1px black solid;

        .line1 {
            position: relative;
            max-height: 40px;
            overflow: hidden;
            white-space: nowrap;

            .price-value {
                display: inline-block;
                font-size: 28px;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-align: center;
                color: #0d0d0d;
                background: white;
            }

            .price-curency {
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.5px;
                text-align: center;
                color: #0d0d0d;
                display: inline-block;
                background: white;
                padding-right: 10px;
            }

            .text {
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.4px;
                float: right;
                color: #808080;
                margin-top: 15px;
                background: white;
                padding-left: 10px;
            }
        }

        .line2 {
            margin-top: 15px;
            position: relative;
            max-height: 25px;
            overflow: hidden;
            white-space: nowrap;

            .price-value {
                display: inline-block;
                margin-top: 0px;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: #b3b3b3;
                background: white;
                padding-right: 10px;
            }

            .text {
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.4px;
                float: right;
                color: #808080;
                margin-top: 3px;
                background: white;
                padding-left: 10px;
            }

            .dotted {
                bottom: 6px;
            }
        }
    }

    .product-info-block {
        padding: 36px 28px;

        .line1 {
            font-size: 14px;
            letter-spacing: 0.4px;
            margin-bottom: 10px;
        }

        .line2 {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.4px;

            a {
                text-decoration: underline;
            }

            img {
                margin-right: 14px;
                width: 14px;
            }
        }
    }
}

.pay-one-click {
    border: solid 1px #22b2da;
    border-radius: 5px;
    min-width: 245px;
    max-width: 245px;
    margin: 36px 28px;

    .line1 {
        padding-top: 9px;
        font-size: 14px;
        letter-spacing: 1.4px;
        text-align: center;
        color: #0d0d0d;
        border-bottom: solid 1px #22b2da;
        min-height: 49px;
        max-height: 49px;

        input {
            border: none;
            text-align: center;
            font-size: 14px;
            letter-spacing: 1.4px;
            color: #0d0d0d;
        }
    }

    .line2 {
        font-size: 14px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #22b2da;
        min-height: 49px;
        max-height: 49px;

        div {
            height: 49px;
            padding-top: 12px;
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;
        }

        div:active {
            opacity: 0.7;
        }
    }

    &.full-width {
        min-width: 100%;
        max-width: 100%;
        margin: 30px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
    .product-card {
        .art {
            padding: 15px 0 30px 0;
        }
    }
}

@media (max-width: 767px ) {
    .product-card {
        .title {
            text-align: center;
        }

        .art {
            text-align: center;
        }
    }
}
