@font-face {
  font-family: 'Ubuntu Condensed', sans-serif;
  src: url(/Content/fonts/UbuntuCondensed/UbuntuCondensed-Regular.ttf); }

.top-menu-container {
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #0d0d0d;
  font-weight: 300; }
  .top-menu-container .logo {
    display: inline-block; }
    .top-menu-container .logo a {
      margin: 0; }
      .top-menu-container .logo a img {
        height: auto; }
  .top-menu-container .top-menu-btn {
    display: inline-block;
    cursor: pointer; }
    .top-menu-container .top-menu-btn span {
      font-size: 34px;
      padding: 6px 0px; }
  .top-menu-container .top-menu-btn:active {
    opacity: 0.6; }
  .top-menu-container .top-menu-body {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.88;
    letter-spacing: 0.4px;
    text-align: center;
    color: #0d0d0d; }
    .top-menu-container .top-menu-body div {
      display: inline-block; }
    .top-menu-container .top-menu-body a, .top-menu-container .top-menu-body a:link, .top-menu-container .top-menu-body a:visited, .top-menu-container .top-menu-body a:hover {
      display: inline-block;
      color: #0d0d0d;
      text-decoration: none; }
      .top-menu-container .top-menu-body a.active, .top-menu-container .top-menu-body a:link.active, .top-menu-container .top-menu-body a:visited.active, .top-menu-container .top-menu-body a:hover.active {
        border-bottom: 3px solid black; }
  .top-menu-container .cart {
    float: right;
    display: inline-block;
    cursor: pointer; }
    .top-menu-container .cart .count {
      text-align: center;
      color: #fff;
      background: #000;
      border-radius: 100%;
      display: inline-block;
      width: 17px;
      height: 17px;
      font-size: 11px;
      margin-left: 10px; }
    .top-menu-container .cart .text img {
      width: 20px;
      height: 21px;
      margin-right: 10px; }

/*@media (min-width: 1200px) {
    .top-menu-container {
        padding-right: 35px;
        padding-left: 35px;
        padding-bottom: 25px;
        margin-bottom: 10px;

        .top-menu-body {
            font-size: 16px;
        }

        a, a:link, a:visited, a:hover {
            padding: 20px 20px 20px 20px;
        }

        .logo {
            a {
                img {
                    height: auto;
                    width: 200px;
                }
            }
        }

        .cart {
            padding: 25px 25px 20px 25px;
        }
    }
}*/
@media (min-width: 992px) {
  .logo a img {
    height: auto;
    width: 175px; }
  .top-menu-container {
    padding: 0 24px;
    margin-bottom: 20px; }
    .top-menu-container .top-menu-body {
      font-size: 14px; }
    .top-menu-container a, .top-menu-container a:link, .top-menu-container a:visited, .top-menu-container a:hover {
      padding: 15px 15px 45px 15px; }
    .top-menu-container .cart {
      margin-left: 10px;
      padding: 20px 0 20px 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .logo a img {
    height: auto;
    width: 125px; }
  .top-menu-container {
    padding: 0 30px;
    margin-bottom: 20px; }
    .top-menu-container .top-menu-body {
      font-size: 13px; }
    .top-menu-container a, .top-menu-container a:link, .top-menu-container a:visited, .top-menu-container a:hover {
      padding: 15px 11px 35px 11px; }
    .top-menu-container .cart {
      padding: 10px; }
      .top-menu-container .cart .text img {
        width: 20px;
        height: 21px;
        margin-right: 0; }
      .top-menu-container .cart .count {
        position: absolute;
        margin-left: -10px;
        margin-top: -3px; } }

@media (max-width: 767px) {
  .logo {
    vertical-align: top; }
    .logo a img {
      width: 135px; }
  body {
    padding-top: 15px !important; }
  .top-menu-container {
    min-height: 65px;
    max-height: 65px;
    text-align: center;
    padding: 0 15px; }
    .top-menu-container .cart {
      padding: 10px; }
      .top-menu-container .cart .text img {
        width: 20px;
        height: 21px;
        margin-right: 0; }
      .top-menu-container .cart .count {
        position: absolute;
        margin-left: -10px;
        margin-top: -3px; }
  .top-menu-body-mobile {
    display: none;
    height: 0;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #333333; }
    .top-menu-body-mobile.toggled {
      display: block;
      height: auto; }
    .top-menu-body-mobile div {
      display: block; }
    .top-menu-body-mobile a, .top-menu-body-mobile a:link, .top-menu-body-mobile a:visited, .top-menu-body-mobile a:hover {
      display: block;
      padding: 10px;
      color: #333333;
      text-decoration: none; }
      .top-menu-body-mobile a.active, .top-menu-body-mobile a:link.active, .top-menu-body-mobile a:visited.active, .top-menu-body-mobile a:hover.active {
        border-bottom: 3px solid black; } }

.info-category .item {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  display: table; }
  .info-category .item .text-block {
    display: table-cell;
    vertical-align: top; }
  .info-category .item .img-block {
    display: table-cell;
    vertical-align: top; }
    .info-category .item .img-block img {
      width: 100%; }
  .info-category .item .title {
    overflow: hidden;
    text-align: left;
    color: #000000;
    text-transform: uppercase; }
    .info-category .item .title a, .info-category .item .title a:visited {
      color: black;
      text-decoration: none; }
    .info-category .item .title a:hover {
      color: black;
      text-decoration: none; }
  .info-category .item .name {
    text-align: left;
    color: #22b2da;
    overflow: hidden; }
    .info-category .item .name span {
      vertical-align: text-top; }
  .info-category .item .description {
    text-align: left;
    overflow: hidden; }

.button {
  background-color: #22b2da;
  border-radius: 8px; }
  .button a, .button a:hover, .button a:visited, .button span, .button span:hover {
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase; }
    .button a.button-order, .button a:hover.button-order, .button a:visited.button-order, .button span.button-order, .button span:hover.button-order {
      font-size: 14px;
      letter-spacing: 0.4px;
      text-align: center;
      color: white;
      padding: 10px 12px; }

.title-main-page {
  position: relative;
  line-height: 1.15;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333;
  background: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  text-transform: uppercase; }

.hr-title {
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  right: 5%;
  left: 5%;
  z-index: 0; }

@media (min-width: 992px) {
  .title-main-page {
    margin-top: 84px;
    margin-bottom: 60px;
    font-size: 26px; }
  .hr-title {
    margin-top: -73px; }
  .info-category {
    padding-left: 100px;
    padding-right: 100px; }
    .info-category .item .text-block {
      padding: 45px 5%;
      width: 55%; }
    .info-category .item .img-block {
      width: 40%; }
    .info-category .item .title {
      max-height: 25px;
      min-height: 25px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.36;
      letter-spacing: 1.1px; }
    .info-category .item .name {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.88;
      letter-spacing: 0.4px;
      margin: 24px 0; }
      .info-category .item .name span {
        padding-left: 10px; }
    .info-category .item .description {
      margin-bottom: 60px;
      max-height: 87px;
      min-height: 87px;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.77;
      letter-spacing: 0.3px;
      overflow: hidden; }
    .info-category .item .button {
      height: 50px; }
      .info-category .item .button a {
        display: block;
        height: 100%;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        letter-spacing: 0.8px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .title-main-page {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px; }
  .hr-title {
    margin-top: -41px; }
  .info-category {
    padding-left: 30px;
    padding-right: 30px; }
    .info-category .item .text-block {
      padding: 30px 5%;
      width: 55%; }
    .info-category .item .img-block {
      width: 40%; }
    .info-category .item .title {
      max-height: 16px;
      min-height: 16px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: 0.7px; }
    .info-category .item .name {
      margin: 13px 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.3px; }
      .info-category .item .name span {
        padding-left: 10px; }
    .info-category .item .description {
      margin-bottom: 30px;
      max-height: 77px;
      min-height: 77px;
      font-size: 10px;
      font-weight: 300;
      line-height: 1.63;
      letter-spacing: 0.5px;
      overflow: hidden; }
    .info-category .item .button {
      height: 35px; }
      .info-category .item .button a {
        display: block;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.6px; } }

@media (max-width: 767px) {
  .title-main-page {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px; }
  .hr-title {
    margin-top: -41px; }
  .info-category {
    padding-left: 0;
    padding-right: 0; }
    .info-category .item {
      margin-bottom: 20px; }
      .info-category .item .text-block {
        padding: 30px 5%;
        width: 55%; }
      .info-category .item .img-block {
        width: 40%; }
      .info-category .item .title {
        max-height: 16px;
        min-height: 16px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 0.7px; }
      .info-category .item .name {
        margin: 13px 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.3px; }
        .info-category .item .name span {
          padding-left: 10px; }
      .info-category .item .description {
        margin-bottom: 30px;
        max-height: 77px;
        min-height: 77px;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: 0.5px;
        overflow: hidden; }
      .info-category .item .button {
        height: 35px; }
        .info-category .item .button a {
          display: block;
          height: 100%;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.6px; } }

footer {
  margin-top: 40px;
  border-top: 1px solid #0d0d0d; }
  footer .row {
    margin: 0;
    padding: 0; }
  footer [class*='col-'] {
    margin: 0;
    padding: 0; }
  footer .line1 {
    font-weight: 300;
    color: #0d0d0d;
    overflow: hidden; }
    footer .line1 .logo {
      margin: 18px 30px 18px 0;
      vertical-align: top; }
      footer .line1 .logo img {
        width: 100%; }
    footer .line1 .footer-addres {
      font-weight: 300;
      line-height: 1.76;
      letter-spacing: 0.3px;
      text-align: center;
      color: #0d0d0d;
      float: right;
      font-size: 18px;
      text-align: right;
      padding-top: 5px; }
      footer .line1 .footer-addres a {
        padding: 6px; }
        footer .line1 .footer-addres a img {
          width: 20px;
          height: 20px; }
      footer .line1 .footer-addres div {
        display: block; }
  footer .line2 {
    background-color: #0d0d0d;
    font-weight: 300;
    text-align: left;
    color: #666666; }
    footer .line2 div {
      display: inline-block; }

@media (min-width: 768px) {
  footer {
    border-top: 1px solid #0d0d0d;
    font-size: 14px; }
    footer .line1 {
      min-height: 107px;
      max-height: 107px;
      padding: 0 30px;
      font-size: 14px;
      overflow: hidden; }
      footer .line1 div {
        display: inline-block; }
      footer .line1 .footer-menu {
        width: 310px;
        min-height: 107px;
        max-height: 107px;
        overflow: hidden; }
        footer .line1 .footer-menu a {
          display: block;
          padding: 9px 20px;
          min-width: 120px; }
      footer .line1 .footer-addres {
        font-size: 18px; }
    footer .line2 {
      padding: 0 30px;
      min-height: 40px;
      max-height: 40px;
      line-height: 2.6;
      letter-spacing: 0.5px; } }

@media (max-width: 767px) {
  footer {
    border-top: 1px solid #0d0d0d;
    font-size: 7px; }
    footer .line1 {
      min-height: 107px;
      max-height: 107px;
      padding: 0 15px;
      line-height: 1.88;
      letter-spacing: 0.6px;
      color: #0d0d0d;
      font-size: 10px;
      font-size: 14px; }
      footer .line1 .footer-addres {
        font-size: 18px;
        text-align: center;
        width: 100%; }
        footer .line1 .footer-addres img {
          height: 20px;
          width: 20px; }
    footer .line2 {
      padding: 0 15px;
      min-height: 40px;
      max-height: 40px;
      line-height: 5.6;
      letter-spacing: 0.5px; } }

.main-page-swipe {
  max-height: 400px; }
  .main-page-swipe .swiper-slide img {
    width: 100%;
    display: block; }

.card-page-swipe {
  margin-bottom: 20px; }
  .card-page-swipe .swiper-slide img {
    width: 100%;
    display: block; }

.main-page-favorite-swipe {
  margin-bottom: 20px; }
  .main-page-favorite-swipe .swiper-slide {
    border-right: 1px solid #d6d6d6; }

.swiper-button-prev {
  background-image: url("../../img/icons/prev.png");
  padding: 10px;
  width: 45px;
  height: 34px;
  opacity: 0.5; }
  .swiper-button-prev:active {
    opacity: 1; }

.swiper-button-next {
  background-image: url("../../img/icons/next.png");
  padding: 10px;
  width: 45px;
  height: 34px;
  opacity: 0.5; }
  .swiper-button-next:active {
    opacity: 1; }

.short-product {
  text-align: center; }
  .short-product .line1 img {
    width: 70%; }
  .short-product .line2 {
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
    vertical-align: middle; }
  .short-product .line3 {
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
    vertical-align: middle; }
  .short-product .line4 {
    margin-top: 10px; }
  .short-product .line5 {
    margin-top: 10px; }
  .short-product .txt {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #808080;
    vertical-align: middle; }
  .short-product .val {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #333333;
    vertical-align: middle; }
  .short-product .price {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    vertical-align: middle; }
  .short-product.list-item {
    margin-top: 20px;
    margin-bottom: 20px; }
    .short-product.list-item .line1 {
      border-radius: 5px;
      border: solid 1px #ededed; }
    .short-product.list-item .line2 {
      position: absolute;
      top: 30px;
      left: 25px;
      background: rgba(255, 255, 255, 0.76); }
    .short-product.list-item .line3 {
      margin-top: 10px; }

.product-card .breadcrumbs {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #808080; }
  .product-card .breadcrumbs a {
    padding: 5px 10px;
    color: #808080; }
  .product-card .breadcrumbs a:last-of-type {
    color: black; }

.product-card .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #0d0d0d; }
  .product-card .title.tablet {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #0d0d0d; }

.product-card .art {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #808080;
  border-bottom: 1px black solid;
  padding: 20px 0 30px 0; }

.product-card .dotted {
  display: block;
  border-bottom: 1px dotted #c3c3c3;
  position: absolute;
  width: 100%;
  bottom: 9px;
  z-index: -1; }

.product-card .prices {
  margin-top: 19px;
  padding-bottom: 18px;
  border-bottom: 1px black solid; }
  .product-card .prices .line1 {
    position: relative;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap; }
    .product-card .prices .line1 .price-value {
      display: inline-block;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      color: #0d0d0d;
      background: white; }
    .product-card .prices .line1 .price-curency {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.5px;
      text-align: center;
      color: #0d0d0d;
      display: inline-block;
      background: white;
      padding-right: 10px; }
    .product-card .prices .line1 .text {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.4px;
      float: right;
      color: #808080;
      margin-top: 15px;
      background: white;
      padding-left: 10px; }
  .product-card .prices .line2 {
    margin-top: 15px;
    position: relative;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap; }
    .product-card .prices .line2 .price-value {
      display: inline-block;
      margin-top: 0px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #b3b3b3;
      background: white;
      padding-right: 10px; }
    .product-card .prices .line2 .text {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.4px;
      float: right;
      color: #808080;
      margin-top: 3px;
      background: white;
      padding-left: 10px; }
    .product-card .prices .line2 .dotted {
      bottom: 6px; }

.product-card .product-tabs {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #0d0d0d;
  font-weight: 300;
  border-bottom: 1px black solid; }
  .product-card .product-tabs .tab {
    padding: 40px 10px 15px 10px;
    cursor: pointer;
    display: inline-block; }
    .product-card .product-tabs .tab.active {
      padding: 39px 10px 15px 10px;
      font-weight: bold;
      border-bottom: 2px black solid; }
  .product-card .product-tabs .tab:last-of-type {
    margin-left: 20px; }

.product-card .product-tabs-content {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #0d0d0d;
  border-bottom: 1px solid black; }
  .product-card .product-tabs-content .spec-item {
    position: relative;
    margin: 13px 0; }
    .product-card .product-tabs-content .spec-item .rect {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #000000;
      margin-right: 10px;
      margin-bottom: 3px; }
    .product-card .product-tabs-content .spec-item .dotted {
      bottom: 5px;
      margin-left: 20px;
      width: 80%; }
    .product-card .product-tabs-content .spec-item .spec-text {
      background: white;
      padding-right: 10px; }
    .product-card .product-tabs-content .spec-item .spec-value {
      float: right;
      background: white;
      padding-left: 10px; }

.product-card .product-info-block {
  padding: 36px 28px; }
  .product-card .product-info-block .line1 {
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-bottom: 10px; }
  .product-card .product-info-block .line2 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px; }
    .product-card .product-info-block .line2 a {
      text-decoration: underline; }
    .product-card .product-info-block .line2 img {
      margin-right: 14px;
      width: 14px; }

.pay-one-click {
  border: solid 1px #22b2da;
  border-radius: 5px;
  min-width: 245px;
  max-width: 245px;
  margin: 36px 28px; }
  .pay-one-click .line1 {
    padding-top: 9px;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
    color: #0d0d0d;
    border-bottom: solid 1px #22b2da;
    min-height: 49px;
    max-height: 49px; }
    .pay-one-click .line1 input {
      border: none;
      text-align: center;
      font-size: 14px;
      letter-spacing: 1.4px;
      color: #0d0d0d; }
  .pay-one-click .line2 {
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #22b2da;
    min-height: 49px;
    max-height: 49px; }
    .pay-one-click .line2 div {
      height: 49px;
      padding-top: 12px;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase; }
    .pay-one-click .line2 div:active {
      opacity: 0.7; }
  .pay-one-click.full-width {
    min-width: 100%;
    max-width: 100%;
    margin: 30px 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .product-card .art {
    padding: 15px 0 30px 0; } }

@media (max-width: 767px) {
  .product-card .title {
    text-align: center; }
  .product-card .art {
    text-align: center; } }

.filters .filter-name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  text-align: left; }

.filters ul {
  padding-left: 0; }
  .filters ul li {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #808080;
    text-align: left; }
    .filters ul li .txt {
      padding-left: 20px; }
    .filters ul li input {
      display: inline-block;
      height: 17px;
      width: 17px;
      padding: 0;
      margin: 0;
      vertical-align: middle; }
  .filters ul li.active {
    font-weight: 600;
    color: black; }

.selected-filters {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0d0d0d;
  text-align: left; }
  .selected-filters span {
    background-color: #dbdbdb;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer; }
  .selected-filters span:last-of-type {
    color: #808080;
    background: none;
    padding: 8px 15px 8px 5px; }
  .selected-filters .filter-clear {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important; }

@media (max-width: 767px) {
  .hide-mobile {
    display: none; }
  .filters .filter-name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.6px;
    color: #0d0d0d;
    text-transform: uppercase;
    text-align: left; }
  .filters ul {
    padding-left: 0; }
    .filters ul li {
      display: inline-block;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: center;
      color: #808080;
      border-radius: 3px;
      border: solid 1px #d9d9d9;
      margin: 5px; }
      .filters ul li .txt {
        padding-left: 20px;
        padding-right: 20px; }
      .filters ul li input {
        display: none; }
    .filters ul li.active {
      font-weight: normal;
      color: #fefefe;
      background-color: #1b1b1b; } }

.order-pages label {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  letter-spacing: 0.4px;
  text-align: center;
  color: #0d0d0d; }

.order-pages .title-form {
  border-radius: 3px;
  background-color: #f0f6f7;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #0d0d0d;
  padding: 20px;
  text-transform: uppercase; }

.order-pages .order-table [class*='col-'] {
  padding: 0; }

.order-pages .order-table .head {
  min-height: 52px;
  max-height: 52px;
  border-radius: 3px;
  background-color: #f0f6f7;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #808080;
  padding-left: 20px; }
  .order-pages .order-table .head div {
    padding: 18px 0 20px 0; }

.order-pages .order-table .body {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  .order-pages .order-table .body .item {
    display: table;
    width: 100%; }
    .order-pages .order-table .body .item .product-info .img-block {
      display: table-cell;
      width: 55px; }
      .order-pages .order-table .body .item .product-info .img-block img {
        max-width: 55px; }
    .order-pages .order-table .body .item .product-info .txt-block {
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
      letter-spacing: 0.3px;
      width: 100%; }
      .order-pages .order-table .body .item .product-info .txt-block .line1 {
        margin-left: 20px;
        line-height: 1.77;
        color: #0d0d0d; }
      .order-pages .order-table .body .item .product-info .txt-block .line2 {
        margin-left: 20px;
        line-height: 2.31;
        color: #808080; }
    .order-pages .order-table .body .item .txt-label {
      font-size: 14px;
      letter-spacing: 0.7px;
      color: #808080; }
    .order-pages .order-table .body .item .cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%; }
    .order-pages .order-table .body .item .counter {
      margin-top: 20px;
      min-height: 40px;
      max-height: 40px;
      width: 110px;
      border-radius: 3px;
      border: solid 1px #b3b3b3;
      font-size: 16px;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      overflow: hidden;
      white-space: nowrap; }
      .order-pages .order-table .body .item .counter span:first-of-type {
        font-size: 25px;
        color: #b3b3b3;
        display: inline-block;
        float: left;
        padding: 5px 13px 9px 13px;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer; }
      .order-pages .order-table .body .item .counter span:last-of-type {
        font-size: 25px;
        color: #b3b3b3;
        display: inline-block;
        float: right;
        padding: 6px 13px 8px 13px;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer; }
      .order-pages .order-table .body .item .counter .cont-item {
        display: inline-block;
        line-height: 2.5; }
    .order-pages .order-table .body .item .num {
      margin-top: 29px;
      display: inline-block;
      font-size: 16.3px;
      line-height: 1.25;
      letter-spacing: 0.5px;
      color: #003663; }
    .order-pages .order-table .body .item .txt {
      margin-top: 29px;
      display: inline-block;
      font-size: 13px;
      line-height: 1.53;
      letter-spacing: 0.4px; }
    .order-pages .order-table .body .item .clear-line {
      margin-top: 25px;
      display: inline-block;
      padding: 5px;
      float: right; }
      .order-pages .order-table .body .item .clear-line img {
        width: 13px;
        height: 13px; }
      .order-pages .order-table .body .item .clear-line.mobile {
        margin-top: -10px; }

.order-pages .order-info {
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #ebf1f2;
  padding-bottom: 35px; }
  .order-pages .order-info .title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #0d0d0d;
    border-bottom: 1px solid #b3b3b3;
    padding: 20px 23px; }
  .order-pages .order-info .info-label {
    padding: 20px 0 13px 20px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #000000;
    display: inline-block; }
    .order-pages .order-info .info-label.radio {
      padding: 0;
      margin: 0;
      vertical-align: top; }
  .order-pages .order-info .margin-block {
    padding: 20px 0 13px 20px; }
  .order-pages .order-info .date-values {
    margin: 0 23px 0px 23px;
    max-height: 35px;
    min-height: 35px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-left: 8px;
    white-space: nowrap;
    display: inline-block; }
    .order-pages .order-info .date-values img {
      width: 15px;
      padding: 8px 0; }
    .order-pages .order-info .date-values input {
      border: none;
      text-align: center;
      width: 103px;
      outline: none;
      font-size: 13px;
      letter-spacing: 0.7px; }
    .order-pages .order-info .date-values input:focus {
      outline: none; }
    .order-pages .order-info .date-values input[type=date]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none; }
    .order-pages .order-info .date-values input[type=date]::-webkit-calendar-picker-indicator {
      opacity: 1;
      padding: 13px 7px;
      cursor: pointer; }
    .order-pages .order-info .date-values input[type="date"]::-webkit-clear-button {
      -webkit-appearance: none;
      display: none; }
    .order-pages .order-info .date-values input[type="date"]::-ms-clear {
      display: none; }
  .order-pages .order-info .order-radios {
    display: inline-block;
    margin-left: 20px; }
  .order-pages .order-info .order-summ-block {
    padding: 20px 23px 13px 20px;
    text-align: center;
    position: relative; }
    .order-pages .order-info .order-summ-block .summ-label {
      font-size: 14px;
      letter-spacing: 0.4px;
      color: #0d0d0d;
      float: left;
      display: inline-block;
      padding-top: 12px; }
    .order-pages .order-info .order-summ-block .order-summ-val {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.7px;
      text-align: center;
      color: #0d0d0d; }
    .order-pages .order-info .order-summ-block hr.order {
      padding: 0;
      margin: 15px -21px;
      right: -2px;
      height: 1px;
      background-color: #b3b3b3;
      display: block;
      position: relative; }

.order-pages .order-checkbox {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #808080;
  margin-left: 30px; }
  .order-pages .order-checkbox input {
    width: 15px;
    height: 15px;
    padding: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    margin-left: -38px; }
  .order-pages .order-checkbox a {
    text-decoration: underline; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-30 {
  margin-top: 30px; }

a, a:visited, a:hover {
  color: black;
  text-decoration: none; }

input.error, span.error, div.error {
  border: 1px solid #fe8080;
  background-color: rgba(255, 109, 109, 0.05); }

.radio-btns div {
  color: gray;
  cursor: pointer; }
  .radio-btns div .r1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 100%;
    vertical-align: middle;
    background: white; }
    .radio-btns div .r1 .r2 {
      display: block;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      width: 60%;
      height: 60%; }
  .radio-btns div.selected {
    color: black; }
    .radio-btns div.selected .r1 {
      border-color: black; }
      .radio-btns div.selected .r1 .r2 {
        background: black; }

.button-default {
  border-radius: 8px;
  border: solid 1px #999999;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #999 !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer; }
  .button-default:active {
    opacity: 0.7; }

.button-info {
  width: 100%;
  border-radius: 8px;
  border: solid 1px #22b2da;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #22b2da !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  user-select: none; }
  .button-info.blue {
    background-color: #22b2da;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase; }
  .button-info:active {
    opacity: 0.7; }

.button-default {
  border-radius: 8px;
  border: solid 1px #999999;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #999 !important;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  user-select: none; }
  .button-default:active {
    opacity: 0.7; }

.btn-info-block, .btn-info-block:hover {
  background: #3c3b3b;
  cursor: pointer;
  padding: 10px 40px;
  color: #fff !important;
  border-radius: 0;
  font-size: 17px; }
  .btn-info-block:active, .btn-info-block:hover:active {
    opacity: 0.7; }

.btn-edit {
  position: absolute;
  margin: 20px;
  background: red;
  color: white;
  padding: 2px 16px; }

.title-filter {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #0d0d0d;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px; }

.long-minus {
  display: inline-block; }

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  color: black; }
  body a, body a:link, body a:visited, body a:hover {
    text-decoration: none; }
  body .container {
    width: 100% !important; }

.head-text {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: black;
  letter-spacing: 1.25px;
  margin-top: 20px; }

