.main-page-swipe{
    //min-height: 400px;
    max-height: 400px;
    overflow:hidden;

}

.main-page-favorite-swipe {
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    //border:1px black solid;
}