.main-page-swipe{
    max-height: 400px;
        .swiper-slide {
        img{
            width:100%;
            display:block;
        }
    }
}

.main-page-favorite-swipe {
   

}

//@media (min-width: 1200px) {}

@media (min-width: 992px) /*and (max-width: 1199px )*/ {

}

@media (min-width: 768px) and (max-width: 991px ) {

}


@media (max-width: 767px) {

}