.main-page-swipe {
  max-height: 400px; }
  .main-page-swipe .swiper-slide img {
    width: 100%;
    display: block; }

.main-page-favorite-swipe {
  margin-bottom: 20px; }
  .main-page-favorite-swipe .swiper-slide {
    border-right: 1px solid #d6d6d6; }

