.top-menu-container {
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #0d0d0d;
    font-weight: 300;

    .logo {
        display: inline-block;

        a {
            margin: 0;

            img {
                height: auto;
            }
        }
    }

    .top-menu-btn {
        display: inline-block;
        cursor: pointer;

        span {
            font-size: 34px;
            padding: 6px 0px;
        }
    }

    .top-menu-btn:active{
        opacity:0.6;
    }

    .top-menu-body {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.88;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0d0d0d;

        div {
            display: inline-block;
        }

        a, a:link, a:visited, a:hover {
            display: inline-block;
            color: #0d0d0d;
            text-decoration: none;

            &.active {
                border-bottom: 3px solid black;
            }
        }
    }

    .cart {
        float: right;
        display: inline-block;
        cursor: pointer;

        .count {
            text-align: center;
            color: #fff;
            background: #000;
            border-radius: 100%;
            display: inline-block;
            width: 17px;
            height: 17px;
            font-size: 11px;
            margin-left: 10px;
        }

        .text {
            img {
                width: 20px;
                height: 21px;
                margin-right: 10px;
            }
        }
    }
}

/*@media (min-width: 1200px) {
    .top-menu-container {
        padding-right: 35px;
        padding-left: 35px;
        padding-bottom: 25px;
        margin-bottom: 10px;

        .top-menu-body {
            font-size: 16px;
        }

        a, a:link, a:visited, a:hover {
            padding: 20px 20px 20px 20px;
        }

        .logo {
            a {
                img {
                    height: auto;
                    width: 200px;
                }
            }
        }

        .cart {
            padding: 25px 25px 20px 25px;
        }
    }
}*/

@media (min-width: 992px) /*and (max-width: 1199px )*/ {
            .logo {
            a {
                img {
                    height: auto;
                    width: 175px;
                }
            }
        }
    .top-menu-container {
               padding:0 24px;
       margin-bottom:20px;

        .top-menu-body {
            font-size: 14px;
        }

        a, a:link, a:visited, a:hover {
            padding: 15px 15px 45px 15px;
        }



        .cart {
                margin-left: 10px;
            padding: 20px 0 20px 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
            .logo {
            a {
                img {
                    height: auto;
                    width: 125px;
                }
            }
        }
    .top-menu-container {
       padding:0 30px;
       margin-bottom:20px;

        .top-menu-body {
            font-size: 13px;
        }

        a, a:link, a:visited, a:hover {
            padding: 15px 11px 35px 11px;
        }



        .cart {
            padding: 10px;

            .text {
                img {
                    width: 20px;
                    height: 21px;
                    margin-right: 0;
                }
            }

            .count {
                position: absolute;
                margin-left: -10px;
                margin-top: -3px;
            }
        }
    }
}

@media (max-width: 767px) {
            .logo {
            vertical-align: top;

            a {
                img {
                    width: 135px;
                }
            }
        }
    body{
        padding-top: 15px!important;
    }
    .top-menu-container {
        min-height: 65px;
        max-height: 65px;
        text-align: center;
        padding:0 15px;


        .cart {
            padding: 10px;

            .text {
                img {
                    width: 20px;
                    height: 21px;
                    margin-right: 0;
                }
            }

            .count {
                position: absolute;
                margin-left: -10px;
                margin-top: -3px;
            }
        }
    }

    .top-menu-body-mobile {
        display: none;
        height: 0;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #333333;

        &.toggled {
            display: block;
            height: auto;
        }

        div {
            display: block;
        }

        a, a:link, a:visited, a:hover {
            display: block;
            padding: 10px;
            color: #333333;
            text-decoration: none;

            &.active {
                border-bottom: 3px solid black;
            }
        }
    }
}
