@model Shop.Models.ArticleModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null && Model.article != null && !string.IsNullOrEmpty(Model.article.title))
    {
        Page.Title = "Прокат чемоданов | Chemodan.online";
    }
}

   @if (Model != null && Model.article!=null)
    {
        <div class="row">
            <div class="col-md-12"><img style="float: left; margin: 7px 7px 7px 0;" src="@Model.article.imgPath">
                <div>@(new HtmlString(Model.article.body))</div>
            </div>
        </div>

}