@model Shop.Models.ShortSKUModel
@{
    var path = ImagePathForView.GetPath();
}

@if (Model != null)
{
    <div class="col-cx-12 col-sm-6 col-md-4 col-lg-3">
        <div class="short-product">
            <div class="line1">
                <img src="@Model.smalPhotoPath" />
            </div>

            <div class="line2">
                <span class="art">арт. @Model.articul</span>
                <span class="price">@Model.price.ToString("#### грн.")</span>
            </div>

            <div class="line3">
                <a href="@Url.Action("SkuInfo", "Home", new { idSku = Model.id })" class="btn btn-info-block">Посмотреть</a>
            </div>
        </div>
      </div>
}